<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimini.mapper.MapMapper">
    <select id="getCategorySort" resultType="uniMap">
        SELECT
            CATEGORY_CODE
            , CATEGORY_NAME
            , CATEGORY_NO
            , USE_FLAG
        FROM TB_CATEGORY
        ORDER BY CATEGORY_NO ASC
    </select>

    <!-- todo : 검색 부분 필요 -->
    <select id="getPinInfo" resultType="uniMap">
        SELECT
            SECTION_CODE
            , BUILDING_CODE
            , PLACE_CODE
            , CATEGORY_CODE
        FROM TB_EVENT
        ORDER BY EVENT_START_TIME
        LIMIT 1
    </select>

</mapper>