<link rel="stylesheet" href="../css/popup.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="flex_container">
    <div id="message">
        <button type="button" id="btn_exit">
            <span class="material-icons">
                close
            </span>
        </button>
        <div class="flex_container" id="message_info">닉네임을 설정하면<br>24시간동안 변경할 수 없습니다.<br>변경하시겠습니까?</div>
        <hr>
        <div class="flex_container">
            <button class="message_button left">
                <div>취소</div>
            </button>
            <hr class="vertical">
            <button class="message_button right">
                <div>캐릭터 설정</div>
            </button>
        </div>
    </div>

</div>
