<link rel="stylesheet" href="../css/popup.css">
<div class="flex_container">
    <div id="message">
        <button type="button" id="btn_exit">
            <span class="material-icons">
                close
            </span>
        </button>
        <div class="flex_container" id="message_info">'----'<br>밍글이 인원미달로 종료되었습니다.</div>
        <hr>
        <div class="flex_container">
            <button class="message_button sole">
                <div>확인</div>
            </button>
        </div>
    </div>
</div>
