<link rel="stylesheet" href="../../static/css/popup.css">
<div class="flex_container">
    <div id="message">
        <button type="button" id="btn_exit">
            <span class="material-icons">
                close
            </span>
        </button>
        <div class="flex_container" id="message_info">비밀번호를 변경하시겠습니까?</div>
        <hr>
        <div class="flex_container">
            <button class="message_button left">
                <div>취소</div>
            </button>
            <hr class="vertical">
            <button class="message_button right">
                <div>비밀번호 변경</div>
            </button>
        </div>
    </div>
</div>
