<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimini.mapper.ChatMapper">

	<select id="findAllRoomIds" resultType="String">
		 SELECT
		  PUB_ROOM_ID AS 'roomId'
		 FROM TB_CHAT_ROOM
		 
		 UNION ALL
		 
		 SELECT
		  PRI_ROOM_ID AS 'roomId'
		 FROM TB_CHAT_ROOM
	</select>
	
	<select id="findRoomById" resultType="chatRoom">
		SELECT
		 PUB_ROOM_ID AS 'roomId'
		FROM TB_CHAT_ROOM
		WHERE PUB_ROOM_ID = #{id}
		
		UNION ALL
		
		SELECT
		 PRI_ROOM_ID AS 'roomId'
		FROM TB_CHAT_ROOM
		WHERE PRI_ROOM_ID = #{id}
	</select>
	
	<insert id="createChatRoom" parameterType="chatRoom">
	 	INSERT INTO TB_CHAT_ROOM (ROOM_ID, ROOM_NAME) 
		VALUES (#{roomId}, #{name})
	</insert>
	
	<insert id="insertMessage" parameterType="chatRoom">
		INSERT INTO TB_CHAT_MESSAGE 
			(MESSAGE_TYPE, MESSAGE, USER_ID, ROOM_ID, TIME)
		VALUES (#{type}, #{message}, #{writer}, #{chatRoomId}, #{timestamp})
	</insert>

</mapper>