<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimini.mapper.MingleMapper">

	<select id="getAllMingleList" resultType="map">
		 SELECT 
		 	SECTION_CODE
		 	, BUILDING_CODE
		 	, PLACE_CODE
		 	, PLACE_NAME
		 	, PLACE_TYPE_CODE
		 FROM TB_PLACE 
		 WHERE USE_FLAG = 'Y'
	</select>
	
	<select id="getMingleInfo" resultType="map">
		 SELECT
		  TE.EVENT_CODE
		  , TE.EVENT_NAME
		  , TE.EVENT_TYPE_CODE
		  , TE.EVENT_STATUS_CODE
		  , (SELECT CATEGORY_NAME FROM TB_CATEGORY TC WHERE TC.CATEGORY_CODE = TE.CATEGORY_CODE) AS CATEGORY_NAME
		  , TE.CATEGORY_CODE
		  , (SELECT PLACE_NAME FROM TB_PLACE TP WHERE TP.SECTION_CODE = TE.SECTION_CODE AND TP.BUILDING_CODE = TE.BUILDING_CODE AND TP.PLACE_CODE = TE.PLACE_CODE) AS PLACE_NAME		  
		  , TE.PLACE_CODE
		  , TE.MAXIMUM_PRSNNL
		  , TE.MINIMUM_PRSNNL 
		  , (SELECT COUNT(*) FROM TB_EVENT_USER_MAPP_GROUP TEUMG WHERE TEUMG.EVENT_CODE = TE.EVENT_CODE) AS NOW_PRSNNL
		  , TE.EVENT_START_TIME
		  , TE.EVENT_END_TIME
		  , CONVERT(TE.DETAIL_INFO USING UTF8) AS DETAIL_INFO
		  , TE.CREATE_USER
		  , TE.CREATE_DATE
		  , TE.UPDATE_USER
		  , TE.UPDATE_DATE
		 FROM TB_EVENT TE 
		 	WHERE TE.EVENT_CODE = #{eventCode}
		 	 AND TE.USE_FLAG = 'Y'
	 </select>
	 
	 <select id="getMingleUserInfo" resultType="map">
		 SELECT
			M_USER.EVENT_CODE
			, M_USER.USER_ID
			, TU.USER_NAME
			, M_USER.USER_STATUS_CODE
			, M_USER.USER_STATUS_NAME
			, M_USER.LIKE_FLAG
			, M_USER.HOST_FLAG
			, TPI.PROFILE_IMAGE_PATH
		 FROM 
		 	(
			 SELECT 
			  TEUMG.EVENT_CODE
			  , TEUMG.USER_ID
			  , TEUMG.USER_STATUS_CODE
			  , ( SELECT DETAIL_CODE_NAME FROM TB_DETAIL_CODE TDC WHERE TDC.GROUP_CODE = 'EVENTUSERSTATUS' AND TDC.DETAIL_CODE = TEUMG.USER_STATUS_CODE) AS USER_STATUS_NAME
			  , TEUMG.EVENT_SCORE
			  , TEUMG.LIKE_FLAG
			  , TEUMG.HOST_FLAG
			  , TEUMG.CREATE_DATE
			  , TEUMG.UPDATE_DATE
			  FROM TB_EVENT_USER_MAPP_GROUP TEUMG
			  WHERE TEUMG.USE_FLAG = 'Y'
			    AND TEUMG.EVENT_CODE = #{eventCode}
			) M_USER, TB_USER TU, TB_PROFILE_IMAGE TPI
		 WHERE M_USER.USER_ID = TU.USER_ID AND TU.PROFILE_IMAGE_CODE = TPI.PROFILE_IMAGE_CODE
	 </select>

	<!-- 유니존 어드민 페이지 -->
	<!-- 함께하기 신청자 -->
	<select id="getApplicantUnizone" resultType="uniMap" parameterType="String">
        SELECT
            A.EVENT_CODE
            , (
                SELECT
                    EVENT_NAME
                FROM TB_EVENT C
                WHERE A.EVENT_CODE = C.EVENT_CODE
            ) AS EVENT_NAME
            , A.USER_ID
            , B.NICKNAME
            , B.USER_NAME
            , B.MOBILE_NO
            , B.UNI_NUMBER
            , (
                SELECT
                    C.DETAIL_CODE_NAME
                FROM TB_DETAIL_CODE C
                WHERE C.GROUP_CODE = 'GENDER'
                  AND B.GENDER_CODE = C.DETAIL_CODE
            ) AS GENDER_NAME
            , (
                SELECT
                    MAJOR_NAME
                FROM TB_MAJOR C
                WHERE B.UNI_CODE = C.UNI_CODE
                  AND B.CAMPUS_CODE = C.CAMPUS_CODE
                  AND B.COLLEGE_CODE = C.COLLEGE_CODE
                  AND B.MAJOR_CODE = C.MAJOR_CODE
            ) AS MAJOR_NAME
            , CONCAT('/static/image/profile/profile', B.PROFILE_IMAGE_CODE, '.png') AS PROFILE_IMAGE_CODE
            , DATE_fORMAT(A.UPDATE_DATE, '%Y-%m-%d %H:%i:%s') AS UPDATE_DATE
        FROM TB_EVENT_USER_MAPP_GROUP A INNER JOIN TB_USER B ON A.USER_ID = B.USER_ID
        WHERE USER_STATUS_CODE = 'EVTUSRST002'
          AND EVENT_CODE = #{eventCode}
        ORDER BY A.UPDATE_DATE
    </select>

	<!-- 수락된 신청자 (참가자) -->
	<select id="getParticipantUnizone" resultType="uniMap" parameterType="String">
        SELECT
            A.EVENT_CODE
            , (
                SELECT
                    EVENT_NAME
                FROM TB_EVENT C
                WHERE A.EVENT_CODE = C.EVENT_CODE
            ) AS EVENT_NAME
            , A.USER_ID
            , B.USER_NAME
            , B.MOBILE_NO
            , B.UNI_NUMBER
            , (
                SELECT
                    C.DETAIL_CODE_NAME
                FROM TB_DETAIL_CODE C
                WHERE C.GROUP_CODE = 'GENDER'
                  AND B.GENDER_CODE = C.DETAIL_CODE
            ) AS GENDER_NAME
            , (
                SELECT
                    MAJOR_NAME
                FROM TB_MAJOR C
                WHERE B.UNI_CODE = C.UNI_CODE
                  AND B.CAMPUS_CODE = C.CAMPUS_CODE
                  AND B.COLLEGE_CODE = C.COLLEGE_CODE
                  AND B.MAJOR_CODE = C.MAJOR_CODE
            ) AS MAJOR_NAME
            , CONCAT('/static/image/profile/profile', B.PROFILE_IMAGE_CODE, '.png') AS PROFILE_IMAGE_CODE
            , DATE_fORMAT(A.UPDATE_DATE, '%Y-%m-%d %H:%i:%s') AS UPDATE_DATE
        FROM TB_EVENT_USER_MAPP_GROUP A INNER JOIN TB_USER B ON A.USER_ID = B.USER_ID
        WHERE USER_STATUS_CODE = 'EVTUSRST003'
          AND EVENT_CODE = #{eventCode}
          ORDER BY A.UPDATE_DATE
    </select>

	<!-- 거절된 참가자 -->
	<select id="getRefuseUnizone" resultType="uniMap" parameterType="String">
        SELECT
            A.EVENT_CODE
            , (
                SELECT
                    EVENT_NAME
                FROM TB_EVENT C
                WHERE A.EVENT_CODE = C.EVENT_CODE
            ) AS EVENT_NAME
            , A.USER_ID
            , B.USER_NAME
            , B.MOBILE_NO
            , B.UNI_NUMBER
            , (
                SELECT
                    C.DETAIL_CODE_NAME
                FROM TB_DETAIL_CODE C
                WHERE C.GROUP_CODE = 'GENDER'
                  AND B.GENDER_CODE = C.DETAIL_CODE
            ) AS GENDER_NAME
            , (
                SELECT
                    MAJOR_NAME
                FROM TB_MAJOR C
                WHERE B.UNI_CODE = C.UNI_CODE
                  AND B.CAMPUS_CODE = C.CAMPUS_CODE
                  AND B.COLLEGE_CODE = C.COLLEGE_CODE
                  AND B.MAJOR_CODE = C.MAJOR_CODE
            ) AS MAJOR_NAME
            , CONCAT('/static/image/profile/profile', B.PROFILE_IMAGE_CODE, '.png') AS PROFILE_IMAGE_CODE
            , DATE_fORMAT(A.UPDATE_DATE, '%Y-%m-%d %H:%i:%s') AS UPDATE_DATE
        FROM TB_EVENT_USER_MAPP_GROUP A INNER JOIN TB_USER B ON A.USER_ID = B.USER_ID
        WHERE USER_STATUS_CODE = 'EVTUSRST005'
          AND EVENT_CODE = #{eventCode}
          ORDER BY A.UPDATE_DATE
    </select>

	<update id="setUserStatusCode" parameterType="map">
		 UPDATE TB_EVENT_USER_MAPP_GROUP
		 SET
			USER_STATUS_CODE = #{userStatusCode}
			, UPDATE_DATE = NOW()
		 WHERE USER_ID = #{userId}
		 AND EVENT_CODE = #{evnetCode}
	</update>
</mapper>