<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimini.mapper.UnityMapper">
    <!-- 카테고리 목록 -->
    <select id="getCategorySort" resultType="uniMap">
        SELECT
            CATEGORY_CODE
            , CATEGORY_NAME
            , CATEGORY_NO
            , USE_FLAG
        FROM TB_CATEGORY
        ORDER BY CATEGORY_NO ASC
    </select>

    <!-- 핀 목록 -->
    <select id="getPinInfo" resultType="uniMap">
        SELECT
            SECTION_CODE
            , BUILDING_CODE
            , PLACE_CODE
            , CATEGORY_CODE
        FROM TB_EVENT
        WHERE DATE_FORMAT(EVENT_START_TIME, "%Y-%m-%d") = CURDATE()
        ORDER BY EVENT_START_TIME
        LIMIT 1
    </select>

    <!-- 밍글 리스트 -->
    <select id="getMingleList" resultType="uniMap" parameterType="map">
        SELECT
            A.EVENT_NAME
            , A.PLACE_CODE
            , (
                SELECT
                    PLACE_NAME
                FROM TB_PLACE P
                WHERE A.SECTION_CODE = P.SECTION_CODE
                  AND A.BUILDING_CODE = P.BUILDING_CODE
                  AND A.PLACE_CODE = P.PLACE_CODE
            ) AS PLACE_NAME
            , EVENT_TYPE_CODE
            , DATE_fORMAT(EVENT_START_TIME, '%T') AS EVENT_START_TIME
            , DATE_fORMAT(EVENT_END_TIME, '%T') AS EVENT_END_TIME
            , CONCAT(DATE_fORMAT(EVENT_START_TIME, '%T'), '~', DATE_fORMAT(EVENT_END_TIME, '%T')) AS EVENT_TIME
            , (
                SELECT
                    COUNT(USER_CODE) AS TOT_USER_CNT
                FROM TB_EVENT_USER_MAPP_GROUP G
                WHERE A.EVENT_CODE = G.EVENT_CODE
                GROUP BY G.EVENT_CODE
            ) AS TOT_PRSNNL
            , MINIMUM_PRSNNL
            , MAXIMUM_PRSNNL
            , DETAIL_INFO
        FROM TB_EVENT A
        WHERE A.SECTION_CODE = #{sectionCode}
          AND (A.EVENT_STATUS_CODE = 'EVTSTS001' OR A.EVENT_STATUS_CODE = 'EVTSTS001')
    </select>

    <!-- 좋아요 리스트 -->
    <select id="getLikeEventList" resultType="uniMap" parameterType="map">
        SELECT
            A.EVENT_NAME
            , A.PLACE_CODE
            , (
                SELECT
                    PLACE_NAME
                FROM TB_PLACE P
                WHERE A.SECTION_CODE = P.SECTION_CODE
                  AND A.BUILDING_CODE = P.BUILDING_CODE
                  AND A.PLACE_CODE = P.PLACE_CODE
            ) AS PLACE_NAME
            , EVENT_TYPE_CODE
            , DATE_fORMAT(EVENT_START_TIME, '%T') AS EVENT_START_TIME
            , DATE_fORMAT(EVENT_END_TIME, '%T') AS EVENT_END_TIME
            , CONCAT(DATE_fORMAT(EVENT_START_TIME, '%T'), '~', DATE_fORMAT(EVENT_END_TIME, '%T')) AS EVENT_TIME
            , (
                SELECT
                    COUNT(USER_CODE) AS TOT_USER_CNT
                FROM TB_EVENT_USER_MAPP_GROUP G
                WHERE A.EVENT_CODE = G.EVENT_CODE
                GROUP BY A.EVENT_CODE
            ) AS TOT_PRSNNL
            , A.MINIMUM_PRSNNL
            , A.MAXIMUM_PRSNNL
            , A.DETAIL_INFO
        FROM TB_EVENT A INNER JOIN TB_EVENT_USER_MAPP_GROUP B ON A.EVENT_CODE = B.EVENT_CODE
        WHERE B.USER_CODE = #{userCode}
         AND (A.EVENT_STATUS_CODE = 'EVTSTS001' OR A.EVENT_STATUS_CODE = 'EVTSTS001')
         AND DATE_FORMAT(EVENT_START_TIME, "%Y-%m-%d") >= CURDATE()
         AND B.LIKE_FLAG = 'Y'
    </select>
</mapper>