<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimini.mapper.MyPageMapper">

    <!-- 사용자 정보 조회 -->
    <select id="getUserInfo" resultType="uniMap" parameterType="map">
        SELECT
            USER_ID
            , USER_NAME
            , NICKNAME
            , UNI_NUMBER
            , SUBSTRING(UNI_NUMBER, 3, 2 ) AS UNI_YEAR
            , (
                SELECT
                    DETAIL_CODE_NAME
                FROM TB_DETAIL_CODE B
                WHERE GROUP_CODE = 'GENDER'
                  AND A.GENDER_CODE = B.DETAIL_CODE
            ) AS GENDER_NAME
            , (
                SELECT
                    B.UNI_NAME
                FROM TB_UNI B
                WHERE A.UNI_CODE = B.UNI_CODE
            ) AS UNI_NAME
            , (
                SELECT
                    B.COLLEGE_NAME
                FROM TB_COLLEGE B
                WHERE A.UNI_CODE = B.UNI_CODE
                  AND A.CAMPUS_CODE = B.CAMPUS_CODE
                  AND A.COLLEGE_CODE = B.COLLEGE_CODE
            ) AS COLLEGE_NAME
            , (
                SELECT
                    MAJOR_NAME
                FROM TB_MAJOR B
                WHERE A.UNI_CODE = B.UNI_CODE
                  AND A.CAMPUS_CODE = B.CAMPUS_CODE
                  AND A.COLLEGE_CODE = B.COLLEGE_CODE
                  AND A.MAJOR_CODE = B.MAJOR_CODE
            ) AS MAJOR_NAME
            , UNI_NUMBER
            , CONCAT('/static/image/profile/profile', PROFILE_IMAGE_CODE, '.png') AS PROFILE_IMAGE_CODE
        FROM TB_USER A
        WHERE  A.USER_ID = #{userId}
    </select>

    <!-- 사용자 수정 -->
    <update id="updateUser" parameterType="map">
        UPDATE TB_USER
        SET
        <choose>
            <when test="updateType =='nickname'">
                AND NICKNAME = #{updateValue}
            </when>
            <when test="updateType =='profile'">
                AND PROFILE_IMAGE_CODE = #{updateValue}
            </when>
            <when test="updateType =='password'">
                AND PASSWORD = #{updateValue}
            </when>
            <otherwise>
                AND MOBILE_NO = #{updateValue}
            </otherwise>
        </choose>
        WHERE USER_CODE = #{userCode}
          AND USER_ID = #{userId}
    </update>

</mapper>