/*Sign In*/
form i {
    margin-left: -30px;
    cursor: pointer;
}
::placeholder{
    color: #9a9a9a;
    font-weight: 400;
}
#password_eye{
    position: relative;
    transform: translate(-50px, 23px);
    cursor: pointer;
}
.fas {
    position: relative;
    right: 30px;
    top: 25px;
    cursor: pointer;
  }
  #login_submit_btn{
    width:342px;
    height:44px;
    border-radius:20px;
    background-color: #eee9e2;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    color: #bfbbb5;
  }


/*Sign Up*/
#signupFinishBtnContainer{
    height:10%;
    position: fixed;
    bottom:0px;
    background-color: #fffaf2;
}
.signup_stage{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.stage{
    text-align: center;
    width: 10px;
    height: 10px;
    border-radius: 5px;;
    font-size:10px;
    font-weight: bold;
    padding-top:3px;
    margin-right:10px;
    border: 1px solid #07c083; 
}
.stage.now{
    background-color: #07c083
}
.form#name{
    margin-top:60px;
}
.form#phoneNum{
    margin-top:10px;
}
.formTitle{
    height: 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin-top:16px;
    margin-bottom:4px;
    padding-left:8px;
}
.formContent{
    height:40px;
    width: 100%;
    margin:4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formContent#gender{
    justify-content: flex-start;
}
.formContent#id div:nth-child(1){
    width: 75%;
}
.formContent#id div:nth-child(2){
    padding: 4px;
}
.container.next{
    height: 10%;
}
#signupFirstStage .container:nth-child(1),
#signupSecondStage .container:nth-child(1),
#signupThirdStage .container:nth-child(1){
    padding-top:20px;
    height: 88%;
}
.contraction{
    position: relative;
    width:100%;
}
.form-check{
    padding-left:0.5em;
}

/*My Page*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
div,span{
    font-family: Pretendard !important;
}
#my_profile{
    width:100%;
    height:110px;
    border-radius: 16px;
    border: solid 1.5px #efe5e0;
    background-color: #fffaf2;
    margin-top: 30px;
}
#my_info{
    width:100%;
    height:110px;
    margin-top:27px;
    align-content: flex-start;
}
.text_myInfo{
    text-align: left;
    margin-bottom: 6px;
    font-size:12px;
}
#myPage_menu{
    margin-top:20px;
    height:260px;
}
.menu_bar{
    height:48px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #000;
    border-top: solid 0.5px #efe5e0;
    position: relative;
}
.flex_container.menu_bar{
    align-content: flex-start;
}
#my_icon{
    width:120px;
    height:100%;
}
#my_icon_container{
    width:70px;
    height:70px;
    border-radius: 35px;
    background-color: aquamarine;
}
#my_profile_info{
    width: 222px;
    height:100%;
}
.flex_container#my_profile_info{
    align-content: flex-start;
}
.clickable{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
#alertLinkCopied{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:180px;
    height:30px;
    background-color: #eee9e2;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0%);    
    z-index: 1000;
    position: fixed;
    bottom:100px;
}
#alertLinkCopied.alertInactive{
    visibility: hidden;
}
#alertLinkCopied.alertActive{
    visibility: visible;
    animation:fade 2s;
}
@keyframes fade{
    0% {opacity: 0%;}
    10%{opacity: 100%;}
    80%{opacity: 100%;}
    100% {opacity: 0%;}
}
#majorSearchResultContainer{
    height:120px;
    width: 100%;
    border-radius: 14px;
    background-color: #f6f1e9;
    margin-top:10px;
    overflow-y: auto;
}
.majorSearchResult{
    height:40px;
    width:90%;
    margin-left:5%;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-bottom: 0.2px lightgrey solid;
}

/*MyPage 하위메뉴*/
.form_instruction{
    position: relative;
    bottom:12px;
}
textarea{
    height: 169px;
    width:100%;
    padding:16px;
    font-size: 14px;
    color: #000
}
textarea::placeholder{
    padding-top:8px;
}
#enterDetail textarea::placeholder{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 400;
}
.character{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-bottom: 20px;
}
/*FindPassword*/
.findPasswordForm{
    margin-top:50px;
}
.user_email_form{
    flex-direction: row;
    height: 40px;
    margin-bottom: 8px;;
}

/*MakeMingle*/
#makeMingleBtn{
    background-color: #ff3a5b !important;
    color:white !important;
    padding:0px 14px!important;
    height: 34px !important;
}
.mingleContainer{
    margin-top: 30px;
}
.category{
    font-size: 14px;
    font-weight: bold;
    background-color: #f6f1e9;
    display:inline;
    padding:7px 16px;
    border-radius: 21px;
    margin:5px;
}
.category.selected{
    color : #07c083;
    box-shadow: 0 0 0 1px #07c083 inset; 
}

#mingleCategory{
    display:flex;
    flex-wrap:nowrap;
    align-items: flex-start;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.mingleDate{
    width:40px;
    height:44px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f6f1e9;
    padding:7px 20px;
    border-radius: 18px;
    margin-right:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mingleDate.selected{
    box-shadow: 0 0 0 1px #07c083 inset; 
}
.mingleDate.selected span{
    color : #07c083;
}

#mingleDateText{
    height:14px;
}

.mingleCreateDay{
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}
.mingleCreateDate{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.timeSet{
    width: 100%;
    height: 44px;  
    border-radius: 15px;
    background-color: #f6f1e9;
}

#mingleStartTimeHour,#mingleStartTimeMin,
#mingleEndTimeHour, #mingleEndTimeMin{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.container#mingleTime{
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
}

.container#mingleLocationText{ height:auto; }
.container#mingleLocation{
    margin-top:6px;
}
#locationSelected{
    width:100%;
    height:40px;
    background-color: #f6f1e9;
    border-radius: 15px;
}

.locationOption{
    width:35%;
    height:66px;
    border-radius: 15px;
    background-color: #f6f1e9;
    text-align: center;
}
.locationOption div:nth-child(2){
    margin-top:10px;
}
#locationOption-later{
    width:25%;
}
#locationOption-later span{
    top:19px;
}
.container#minglePersonNumberText{
    height:auto;
}
.container#minglePersonNumber{
    margin-top:6px;
    display: flex;
    justify-content: flex-end;
}
.minglePersonNumberOption{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:150px;
    height:50px;
}
.minglePersonNumberOptionText{
    text-align: center;
}
.minglePersonNumberOptionController{
    display: flex;
    justify-content: center;
}
.minglePersonNumberOptionDec,
.minglePersonNumberOptionInc{
    width:30px;
    height:30px;
    border-radius: 15px;
    background-color: #eee9e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;;
    font-weight: 400;
}
.minglePersonNumberOptionDec.disabled,
.minglePersonNumberOptionInc.disabled{
    visibility: visible;
    color:#c4c0ba;
}

.minglePersonNumber{
    position: relative;
    top:7px;
    margin-right:15px;
    margin-left:15px;
}

/*makeMingleEvent-saerchPlace*/
.container#placeGuidelineText{
    height:164px;
}
#searchInput input::placeholder{
    font-size: 18px;;
    font-weight: bold;
}
#adMark span{
    position: relative; top:60px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 2px 4px; 
    color:grey;
    font-weight: 400;
}
.container#placeOptionSetting{
    height:48px;
}
#placeSearchResultContainer{
    overflow-y: scroll;
    height: 80%;
}
#placeOptionSettingIcon{
    width:40px;
    height:24px;
    border-radius: 10px;
    background-color: #eee9e2;
}
#adPlaceList{
    overflow-y: auto;
    overflow-x: hidden;
    height:70%;
}
.place{
    height: 55px;
    border-bottom:#eee9e2 0.5px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#placeList{
    margin-bottom: 50px;;
}
.searchIcon{
    width:40px;
    height:24px;
    border-radius: 21px;
    background-color: #eee9e2;
}
@keyframes fadeUp {
    0%{
        position: fixed;
        bottom: -800px;
    }
    100%{
        visibility: visible;
        position: fixed;
        bottom: 0px;
    }
}
@keyframes fadeOut {
    0%{ opacity: 100%;}
    100% { 
        opacity: 20%;
        }
}
@keyframes fadeDown{
    0%{
        visibility: visible;
        position: fixed;
        bottom: 0px;
    }
    100%{
        visibility: hidden;
        position: fixed;
        bottom: -800px;
    }
}
/*EventContent*/
.eventBackground{
    background-color: #07c083;
    position: fixed;
    z-index: -1;
}
.eventContent{
    background-color: #fffaf2;
    position: relative;
    top:90px;
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.partyList{
    position: relative;
    width:100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.partyWaitingForAcceptanceList{
    position: relative;
    width:100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.party{
    padding: 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    display : inline;
}
.partyEmoji{
    width:40px;
    height: 40px;
    border:1px solid black;
    border-radius:20px;
}
.partyName{
    margin-top:7px;
    text-align: center;
}
.partySmall{
    padding: 6px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    display : inline;
}
.partyEmojiSmall{
    width:30px;
    height: 30px;
    border:1px solid black;
    border-radius:15px;
}
.partyNameSmall{
    margin-top:7px;
    text-align: center;
}

.eventMenuBar{
    width:100%;
}
.eventMenuBar div{
    margin: 0px 16px;
}
.eventMenuBar span#this{
    color: black !important;
    text-decoration: underline 3px #07c083;
    text-underline-offset: 8px;
}

.eventMenuContent{
    padding:30px 20px;
    overflow-y: scroll;
}
.eventMenuPartyChatting{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.eventCloseButton{
    position: fixed;
    bottom: 0px;
    z-index: 20;
    background-color: #fffaf2;
}
.eventInfo{
    margin: 5px 0px;
    padding : 2px 0px;
}
#eventTitle{
    margin-bottom:20px;
}
.eventInfoTitle{
    margin: 0px 30px 0px 0px;
}
#eventInfoContent{
    line-height: 24px;
}
#waitingForAcceptance{
    width:94%;
    height:90px;
    background-color: #00a971;
    border-radius: 20px;
}
.splitter{
    width:100%;
    height:20px;
}
.timeLeftForOpening{
    margin-top:10px;
    width:255px;
    height: 45px;
    padding:20px;
    background-color: #eee9e2;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eventJoinBtn{
    background-color: #ff3a5b !important;
    color : white !important;
}
.likeBtn{
    width: 44px;
    height:44px;
    border-radius : 20px !important;
    padding: 0px !important;
}
.likeBtn#likeBtnFilled{
    background-color: white !important;
    border: solid 1px #eee9e2 !important;
}
.likeBtn#likeBtnUnfilled{    
    background-color: white !important;
}
#sendChattingInput{
    border-radius: 20px !important;
    border: solid 1px #eee9e2 !important;
    background-color: #fff !important;
}
#sendChattingBtn{
    position: absolute;
    right: 10%;
    width: 32px !important;
    height: 32px !important;
    background-color: #07c083 !important;
}
#eventInfoBox{
    background-color: #f6f1e9;
    border-radius : 20px;
    padding : 14px 20px;
}
.otherChatting{
    margin:15px 0px;
}
.myChatting{
    margin:15px 0px;
}
.chattingUserProfile{
    widtH:32px;
    height:32px;
}
.chattingUserName{
    margin: 4px;
}
.openChattingUserContent{
    background-color: #eee9e2;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 200px;
}
.openChattingMyContent{
    background-color: #ccc8c2;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 200px;
}
.chattingUserContent{
    background-color: #cdefdc;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 200px;
}
.chattingMyContent{
    background-color: #9be3c6;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 200px;
}
#dropdown-menu{
    position: fixed;
    width:100px;
    height:100px;
    background-color: #eee9e2;
    padding: 10px;
    border-radius: 10px;
    right: 20px;
    top:100px;
}


/*내 참여리스트*/
.myEventOnBoard,
.myEventFinished{
    height: 70px;
    width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    margin : 10px 0px;
}
.myEventOnBoard .myEventBox{
    width: 100%;
    height : 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    margin-right:6px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.myEventOnBoard .myEventController{
    width: 90px;
    height : 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    margin-left:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myEventFinished .myEventBox{
    width: 100%;
    height : 100%;
    background-color: #eee9e2;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    margin-right:6px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.myEventFinished .myEventController{
    width: 90px;
    height : 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    margin-left:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myEventAlert{
    width: 48px;
    height: 23px;
    border-radius: 12px;
    background-color: #eee9e2;
    float : right;
    transform: translateY(60%);
}
.myEventFinished .myEventAlert{
    width: 48px;
    height: 23px;
    border-radius: 12px;
    background-color: #fffaf2;
    float : right;
    transform: translateY(60%);
}
.refuseUserJoin{
    width:60px;
    height: 28px !important;
    color : #07c083 !important;
    background-color: #eee9e2 !important;
}
.acceptUserJoin{
    width:60px;
    height:28px !important;
    color : white !important;
    background-color: #07c083 !important;
}
.refuseUserAccepted{
    width:130px;
    height: 28px !important;
    color : #07c083 !important;
    background-color: #eee9e2 !important;
}

/*AllEventList*/
.calendar{
    background-color: #07c083;
    padding : 0px;
}
.calendarDate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendarDate.selected .eventDate{
    background-color: #ff3a5b;
    border-radius: 30px;
}
.eventDay{
}
.eventDate{
    margin-top:5px;
    padding:8px 8px;
}
.eventDate#today{
    padding:8px 5px;
    font-size:14px !important;
}
.event{
    width:100%;
    height:auto;
}
.eventCircle{
    width:10px;
    height:10px;
    border-radius: 5px;
    border: 2px solid #07c083;
    background-color: #fffaf2;
    z-index: 10px;
    position: relative;
}
#eventLinePosition{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:12px;
    left: 78px;
    height:80%
}
#eventLine{
    width:2px;
    height:80%;
    background-color: #07c083;
}
.eventListContent{
    width:90%;
    height:68px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
.eventContentProfile{
    width:30%;
    height:100%;
}
.eventContentInfo{
    width:70%;
    height:100%;
}