<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" th:href="@{/static/css/popup.css}">
		<link rel="stylesheet" th:href="@{/static/css/jquery-ui-1.13.0/jquery-ui.min.css}">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/jquery-ui-1.13.0/jquery-ui.js}"></script>
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/lib/handlebars.min.js}"></script>
		<script th:src="@{/static/js/countDown.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
		
		<script>
			function isLike(flag){
				document.getElementById('isLikeForm_Flag').value = flag;
				
		        $.ajax({
		            url: "/mingle/mingleDetail_isLike",
		            type: "POST",
		            data: $('#isLikeForm').serialize(),
		            beforeSend: function (xhr) {
		                xhr.setRequestHeader("X-Ajax-call", "true");
		            },		            
		            success:function (data) {
		                if(data.result){
		                	if(flag == 'Y') {
		                		document.getElementById('isLikeY').className += ' inactive';
		                		document.getElementById('isLikeN').classList.remove('inactive');
		                	} else {
		                		document.getElementById('isLikeN').className += ' inactive';
		                		document.getElementById('isLikeY').classList.remove('inactive');
		                	}		                	
		                } else {
							console.log('Error ! : ' + data);
		                }
		            },
		            error:function(request,status,error){
		            	console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		            },
		            complete:function (data) {
		            }
		        });
			}
			
			function isIn(flag){
				document.getElementById('isInForm_Flag').value = flag;
		        $.ajax({
		            url: "/mingle/mingleDetail_isIn",
		            type: "POST",
		            data: $('#isInForm').serialize(),
		            beforeSend: function (xhr) {
		                xhr.setRequestHeader("X-Ajax-call", "true");
		            },
		            success:function (data) {
		                if(data.result){
		                	if(flag == 'Y') {
			                	alert('신청되었습니다.');
		                		document.getElementById('isInY').className += ' inactive';
		                		document.getElementById('isInN').classList.remove('inactive');
		                	} else {
			                	alert('취소되었습니다.');
		                		document.getElementById('isInN').className += ' inactive';
		                		document.getElementById('isInY').classList.remove('inactive');
		                	}		                	
		                } else {
							console.log('Error ! : ' + data);
		                }
		            },
		            error:function(request,status,error){
		            	console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		            },
		            complete:function (data) {
		            }
		        });
			}
			
			function isAcpt(userId, flag){
				document.getElementById('isAcptForm_Flag').value = flag;
		        $.ajax({
		            url: "/mingle/mingleDetail_isAcpt",
		            type: "POST",
		            data: $('#isAcptForm').serialize(),
		            beforeSend: function (xhr) {
		                xhr.setRequestHeader("X-Ajax-call", "true");
		            },		            
		            success:function (data) {
		                if(data.result){
		                	alert('처리되었습니다.');
	                		document.getElementById(userId + '-acpt').className += ' inactive';
		                } else {
							console.log('Error ! : ' + data);
		                }
		            },
		            error:function(request,status,error){
		            	console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		            },
		            complete:function (data) {
		            }
		        });
				
			}
			
			function editEvent(){
				document.getElementById('eventEditForm').submit();
			}
			
			function deleteEvent(){
		        $.ajax({
		            url: "/mingle/mingleDetail_delEvent",
		            type: "POST",
		            data: $('#eventDeleteForm').serialize(),
		            beforeSend: function (xhr) {
		                xhr.setRequestHeader("X-Ajax-call", "true");
		            },		            
		            success:function (data) {
		                if(data.result){
		                	alert('삭제되었습니다.');
		                } else {
							console.log('Error ! : ' + data);
		                }
		            },
		            error:function(request,status,error){
		            	console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		            },
		            complete:function (data) {
		            }
		        });
			}
		
		</script>
		
		
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">
    	<div id="app">
    		<div class="backdrop"></div>
			<header>
				<nav class="container align-items-end green" style="padding:10px;">
					<div class="d-flex align-items-center justify-content-between" style="width:100%">
						<div class='d-flex'>
							<div style="width:30px;margin-left:10px;">
								<a href="" id="backToPage">
									<img th:src="@{/static/image/back_white.png}" alt="" style="width:26px; height:20px;">
								</a>
							</div>
							<div>
								<span class="white" id="var-eventTitle">
									<span th:text="${eventInfo.EVENT_NAME}"></span>
								</span>
							</div>
						</div>
						<div id="dropdown" style="margin-right: 10px;">
							<img th:src="@{/static/image/moreVert_white.png}" alt="" width="26px" height="26px">
						</div>
					</div>
				</nav>
				<div class="inactive d-flex flex-column align-items-center justify-content-around" id="dropdown-menu">
					<div id="editEventBtn" onclick="javascript:editEvent()">
						<span class="size14 weight500">수정하기</span>
					</div>
					<form id="eventEditForm" method="post" th:action="@{/mingle/mingleDetail_edit}">
							<input id="eventEditForm_EventCode" name="eventEditForm_EventCode" type="hidden" th:value="${eventInfo.EVENT_CODE}">
							<input id="eventEditForm_UserId" name="eventEditForm_UserId" type="hidden" th:value="${myInfo.USER_ID}">
					</form>
					
					<div id="deleteEventBtn" onclick="javascript:deleteEvent()">
						<span class="size14 weight500 pink">삭제하기</span>
					</div>
					<form id="eventDeleteForm">
							<input id="eventDeleteForm_EventCode" name="eventDeleteForm_EventCode" type="hidden" th:value="${eventInfo.EVENT_CODE}">
							<input id="eventDeleteForm_UserId" name="eventDeleteForm_UserId" type="hidden" th:value="${myInfo.USER_ID}">
					</form>
					
				</div>
			</header>
			<div class="container eventBackground" style="height:100%; top:10%">
				<div class="partyList">
					<div class="party" th:each="user, stat : ${userList}" th:object="${user}">
						<div class="partyEmoji">
							<img th:src="'/static' +*{PROFILE_IMAGE_PATH}" width="100%" height="100%">
						</div>
						<div class="partyName"><span class="size12 white weight300"><span th:text="*{USER_NAME}"></span></span></div>
					</div>
				</div>
			</div>
    		
			<div class="container eventContent" id="eventInfo" style="height:100%;">
				<div class="eventMenuBar d-flex justify-content-start align-items-center" style="height:50px">
					<div class="eventMenu"><span class="size15 weight700 grey2">정보</span></div>
					<div class="eventMenu"><span class="size15 weight700 grey2" id="this">공개 채팅</span></div>
					<div class="eventMenu"><span class="size15 weight700 grey2">참여자 채팅</span></div>
					<div class="eventMenu"><span class="size15 weight700 grey2">수락 대기</span></div>
				</div>
				
				<div class="container eventMenuContent inactive" id="eventInfo" style="height:80%">
					<div id="eventTitle"><span class="size20" id="var-eventTitle"><span th:text="${eventInfo.EVENT_NAME}"></span> </span></div>
					<div class="d-flex flex-column">
						<div id="eventInfoBox">
							<div class="eventInfo">
								<span class="eventInfoTitle size14 weight700">날짜</span>
								<span class="size14 weight400" id="var-eventDate"><span th:text="${#strings.substring(eventInfo.EVENT_START_TIME,0,10)}"></span></span>
								<span class="size14 weight400">~</span>
								<span class="size14 weight400" id="var-eventDay"><span th:text="${#strings.substring(eventInfo.EVENT_END_TIME,0,10)}"></span></span>
							</div>
							<div class="eventInfo">
								<span class="eventInfoTitle size14 weight700">시간</span>
								<span class="size14 weight400" id="var-eventDate"><span th:text="${#strings.substring(eventInfo.EVENT_START_TIME,11,16)}"></span></span>
								<span class="size14 weight400">~</span>
								<span class="size14 weight400" id="var-eventDay"><span th:text="${#strings.substring(eventInfo.EVENT_END_TIME,11,16)}"></span></span>
							</div>
							<div class="eventInfo">
								<span class="eventInfoTitle size14 weight700">장소</span>
								<span class="size14 weight400"><span th:text="${eventInfo.PLACE_NAME}"></span></span>
							</div>
							<div class="eventInfo">
								<span class="eventInfoTitle size14 weight700">인원</span>
								<span class="size14 weight400"><span th:text="${eventInfo.MINIMUM_PRSNNL}"></span></span>
								<span class="size14 weight400">~</span>
								<span class="size14 weight400"><span th:text="${eventInfo.MAXIMUM_PRSNNL}"></span></span>
							</div>
						</div>
						
						<br><br>
						
						<div class="eventInfo">
							<div style="margin-bottom: 4px;">
								<span class="eventInfoTitle size14 weight700">내용</span>
							</div>
							<p id="eventInfoContent"> 
								<span class="size14 weight400">
									<span th:utext="${#strings.replace(#strings.escapeXml(eventInfo.DETAIL_INFO),'&#10;','&lt;br&gt;')}"></span>
								</span>
							</p>
						</div>
					</div>
					<br><br>
 					<div class="eventMenuContentBtn d-flex justify-content-center" id="eventApplyBtn">
						<div class="d-flex justify-content-center" style="width:10%; margin-right:10px">
							<button id="isLikeY" class="d-flex justify-content-center align-items-center likeBtn" th:classappend="${myInfo.IS_LIKE} == 'Y' ? 'inactive' "><img th:src="@{/static/image/heart_unfilled.png}" width="60%" OnClick="javascript:isLike('Y')"></button>
							<button id="isLikeN" class="d-flex justify-content-center align-items-center likeBtn" th:classappend="${myInfo.IS_LIKE} == 'N' ? 'inactive' "><img th:src="@{/static/image/heart_filled.png}" width="60%" OnClick="javascript:isLike('N')"></button>
						</div>
						<div style="width:75%;">
							<button id="isInY" class="eventJoinBtn" th:classappend="${myInfo.IS_IN} == 'Y' ? 'inactive' " OnClick="javascript:isIn('Y')">함께하기</button>
							<button id="isInN" class="eventJoinBtn" th:classappend="${myInfo.IS_IN} == 'N' ? 'inactive' " OnClick="javascript:isIn('N')">함께하기 취소</button>
						</div>
						
						<form id="isLikeForm">
							<input id="isLikeForm_EventCode" name="isLikeForm_EventCode" type="hidden" th:value="${eventInfo.EVENT_CODE}">
							<input id="isLikeForm_UserId" name="isLikeForm_UserId" type="hidden" th:value="${myInfo.USER_ID}">
							<input id="isLikeForm_Flag" name="isLikeForm_Flag" type="hidden">
						</form>

						<form id="isInForm">
							<input id="isInForm_EventCode" name="isInForm_EventCode" type="hidden" th:value="${eventInfo.EVENT_CODE}">
							<input id="isInForm_UserId" name="isInForm_UserId" type="hidden" th:value="${myInfo.USER_ID}">
							<input id="isInForm_Flag" name="isInForm_Flag" type="hidden">
						</form>

						
				   	</div>
				</div>
				
				<div class="container eventMenuContent" id="eventInfo" style="height:80%">
					<div>
						
						<div class="otherChatting d-flex" style="width:fit-content">
							<div class="chattingUserProfile" style="margin:0px 10px;">
								<img src="../static/image/profile/profile10.png" alt="" width="100%" height="100%">
							</div>
							<div class="d-flex flex-column">
								<div class="chattingUserName"><span class="size12 weight500">이름</span></div>
								<div class="d-flex align-items-end">
									<div class="chattingUserContent"><span class="size13 weight500">
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
									</span></div>
									<div class="chattingUserTime"><span class="size10 weight400" style="margin-left:6px">오후 12:12</span></div>
								</div>
							</div>
						</div>
						
						<div class="otherChatting d-flex" style="width:fit-content">
							<div class="chattingUserProfile" style="margin:0px 10px;">
								<img src="../static/image/profile/profile10.png" alt="" width="100%" height="100%">
							</div>
							<div class="d-flex flex-column">
								<div class="chattingUserName"><span class="size12 weight500">이름</span></div>
								<div class="d-flex align-items-end">
									<div class="chattingUserContent"><span class="size13 weight500">
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
									</span></div>
									<div class="chattingUserTime"><span class="size10 weight400" style="margin-left:6px">오후 12:12</span></div>
								</div>
							</div>
						</div>
						
						<div class="myChatting d-flex justify-content-end">
							<div class="d-flex flex-column">
								<div class="d-flex align-items-end">
									<div class="chattingMyTime"><span class="size10 weight400" style="margin-right:6px">오후 12:12</span></div>
									<div class="chattingMyContent"><span class="size13 weight500">
										채팅내용입니다.
									</span></div>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="eventMenuContentBtn d-flex justify-content-center align-items-center" id="eventChatting" >
						<input id="sendChattingInput" type="text" style="width:85%" placeholder="채팅해보세요!">
						<button id="sendChattingBtn"></button>
					</div>
				</div>
				
				<div class="container eventMenuContent" id="eventInfo" style="height:80%">
					<div>
						
						<div class="otherChatting d-flex" style="width:fit-content">
							<div class="chattingUserProfile" style="margin:0px 10px;">
								<img src="../static/image/profile/profile10.png" alt="" width="100%" height="100%">
							</div>
							<div class="d-flex flex-column">
								<div class="chattingUserName"><span class="size12 weight500">이름</span></div>
								<div class="d-flex align-items-end">
									<div class="chattingUserContent"><span class="size13 weight500">
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
									</span></div>
									<div class="chattingUserTime"><span class="size10 weight400" style="margin-left:6px">오후 12:12</span></div>
								</div>
							</div>
						</div>
						
						<div class="myChatting d-flex justify-content-end">
							<div class="d-flex flex-column">
								<div class="d-flex align-items-end">
									<div class="chattingMyTime"><span class="size10 weight400" style="margin-right:6px">오후 12:12</span></div>
									<div class="chattingMyContent"><span class="size13 weight500">
										채팅내용입니다.
									</span></div>
								</div>
							</div>
						</div>						
						
						<div class="otherChatting d-flex" style="width:fit-content">
							<div class="chattingUserProfile" style="margin:0px 10px;">
								<img src="../static/image/profile/profile10.png" alt="" width="100%" height="100%">
							</div>
							<div class="d-flex flex-column">
								<div class="chattingUserName"><span class="size12 weight500">이름</span></div>
								<div class="d-flex align-items-end">
									<div class="chattingUserContent"><span class="size13 weight500">
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
										채팅내용입니다.
									</span></div>
									<div class="chattingUserTime"><span class="size10 weight400" style="margin-left:6px">오후 12:12</span></div>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="eventMenuContentBtn d-flex justify-content-center align-items-center" id="eventChatting" >
						<input id="sendChattingInput" type="text" style="width:85%" placeholder="채팅해보세요!">
						<button id="sendChattingBtn"></button>
					</div>
				</div>				
				
				<div class="container eventMenuContent inactive" id="eventParticipationList" style="height:80%">
					<div class="userWaitingForAcceptanceList">
						<div><span class="size14">함께하기 신청자</span></div>
						<div>
						
							<div th:id="*{USER_ID} + '-acpt'" class="userWaitingForAcceptance d-flex justify-content-between align-items-center" style="margin:16px 0px;" th:each="reqUser, stat : ${reqUserList}" th:object="${reqUser}">
								<div class="userWaitingForAcceptanceInfo d-flex align-items-center">
									<div class="userWaitingForAcceptanceProfile" style="width:44px; height:44px; margin-right:10px;">
										<img th:src="'/static' +*{PROFILE_IMAGE_PATH}" width="100%" height="100%" >
				
									</div>
									<div><span class="size14 weight500"><span th:text="*{USER_NAME}"></span></span></div>
								</div>
								<div class="userWaitingForAcceptanceController">
									<div>
										<button th:OnClick='isAcpt([[*{USER_ID}]],"N" )' class="refuseUserJoin" style="margin-right:4px"><span class="size14">거절</span></button>
										<button th:OnClick='isAcpt([[*{USER_ID}]],"Y" )' class="acceptUserJoin"><span class="size14">수락</span></button>
									</div>
								</div> 
							</div   >
							
						</div>
						
						<form id="isAcptForm">
							<input id="isAcptForm_EventCode" name="isAcptForm_EventCode" type="hidden" th:value="${eventInfo.EVENT_CODE}">
							<input id="isAcptForm_UserId" name="isAcptForm_UserId" type="hidden" th:value="${myInfo.USER_ID}">
							<input id="isAcptForm_Flag" name="isAcptForm_Flag" type="hidden">
						</form>
						
					</div>
				</div>
				
    	</div>
		</div>
    </th:block>
</html>