<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" th:href="@{/static/css/popup.css}">
		<link rel="stylesheet" th:href="@{/static/css/jquery-ui-1.13.0/jquery-ui.min.css}">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/jquery-ui-1.13.0/jquery-ui.js}"></script>
		<!--<script th:src="@{/static/js/load_html.js}"></script>-->
		<script th:src="@{/static/js/lib/handlebars.min.js}"></script>
		<!--<script th:src="@{/static/js/countDown.js}"></script>-->
		<script th:src="@{/static/js/default.js}"></script>
		<script>

			function getUserInfoAlert(e) {
				var userName = $(e).attr('data-userName');
				var major = $(e).attr('data-major');
				var mobileNo = $(e).attr('data-mobile');
				var updateDate = $(e).attr('data-updateDate');

				alert('이름 : '+ userName + '\n전공' + major + '\n휴대폰번호' + mobileNo + '\n신청일' + updateDate);
			}

			function withCancel(index) {

				var userId = $('#pUser'+ index).attr("data-id");
				var eventCode= $('#eventCode').val();
				var data = {
					'userId' : userId
					, 'eventCode' : eventCode
				}

				$.ajax({
					url: '/mingle/setUnizoneParticipantCancel',
					type: "POST",
					data: JSON.stringify(data),
					dataType : 'json',
					contentType: "application/json",
					cache :  false,
					beforeSend : function(xhr)
					{
					},
					success: function(__data, __textStatus, __jqXHR){
						if (__data.result == "success") {
							alert("수락된 신청자 거절이 완료되었습니다.");
							window.location.reload();
						}
					},
					fail: function(__data, __textStatus, __jqXHR){
						console.log("data", __data);
					},
					error: function(__data, __textStatus, __jqXHR){

					},
					complete: function(__data, __textStatus, __jqXHR) {
					}
				});
			}

			function userRefuse(index) {

				var userId = $('#pUser'+ index).attr("data-id");
				var eventCode= $('#eventCode').val();
				var data = {
					'userId' : userId
					, 'eventCode' : eventCode
				}

				$.ajax({
					url: '/mingle/setUnizoneApplicantRefuse',
					type: "POST",
					data: JSON.stringify(data),
					dataType : 'json',
					contentType: "application/json",
					cache :  false,
					beforeSend : function(xhr)
					{
					},
					success: function(__data, __textStatus, __jqXHR){
						if (__data.result == "success") {
							alert("함께하기 거절이 완료되었습니다.");
							window.location.reload();
						}
					},
					fail: function(__data, __textStatus, __jqXHR){
						console.log("data", __data);
					},
					error: function(__data, __textStatus, __jqXHR){

					},
					complete: function(__data, __textStatus, __jqXHR) {
					}
				});
			}

			function userAccept(index) {

				var userId = $('#pUser'+ index).attr("data-id");
				var eventCode= $('#eventCode').val();
				var data = {
					'userId' : userId
					, 'eventCode' : eventCode
				}

				$.ajax({
					url: '/mingle/setUnizoneParticipantAccept',
					type: "POST",
					data: JSON.stringify(data),
					dataType : 'json',
					contentType: "application/json",
					cache :  false,
					beforeSend : function(xhr)
					{
					},
					success: function(__data, __textStatus, __jqXHR){
						if (__data.result == "success") {
							alert("함께하기 수락이 완료되었습니다.");
							window.location.reload();
						}
					},
					fail: function(__data, __textStatus, __jqXHR){
						console.log("data", __data);
					},
					error: function(__data, __textStatus, __jqXHR){

					},
					complete: function(__data, __textStatus, __jqXHR) {
					}
				});
			}
		</script>
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">

		<div id="app">
			<div class="backdrop"></div>
			<header>
				<nav class="container align-items-end green" style="padding:10px;">
					<div class="d-flex align-items-center justify-content-between" style="width:100%">
						<div class='d-flex'>
							<div style="width:30px;margin-left:10px;">
								<a href="" id="backToPage">
									<img th:src="@{/static/image/back_white.png}" alt="" style="width:26px; height:20px;" onclick="window.Unity.call('CloseWebView:');">
								</a>
							</div>
							<div><span class="white" id="var-eventTitle" th:text="${mingleInfo.EVENT_NAME}">EVENTTITLE</span></div>
							<input type="hidden" id="eventCode" th:value="${mingleInfo.EVENT_CODE}">
						</div>
						<div id="dropdown" style="margin-right: 10px;">
							<img th:src="@{/static/image/moreVert_white.png}" alt="" width="26px" height="26px">
						</div>
					</div>
				</nav>
			</header>

			<div class="appContainer">
				<div class="container eventBackground" style="height:100%; top:10%">
				</div>
				<div class="container eventContent" style="height:100%;">
					<div class="eventMenuBar d-flex justify-content-start align-items-center" style="height:50px">
						<div class="eventMenu"><span class="size15 weight700 grey2">수락 대기</span></div>
					</div>
					<div class="container eventMenuContent inactive" id="eventParticipationList" style="height:80%">
						<div class="userWaitingForAcceptanceList">
							<div><span class="size14">함께하기 신청자</span></div>
							<div>
								<div th:each="applicant,index : ${applicantList}" class="userWaitingForAcceptance d-flex justify-content-between align-items-center" style="margin:16px 0px;">
									<div class="userWaitingForAcceptanceInfo d-flex align-items-center">
										<div class="userWaitingForAcceptanceProfile" style="width:44px; height:44px; margin-right:10px;" th:data-userName="${applicant.userName}" th:data-mobile="${applicant.mobileNo}" th:data-major="${applicant.majorName}" th:data-updateDate="${applicant.updateDate}" onclick="getUserInfoAlert(this);">
											<img th:src="@{${applicant.profileImageCode}}" alt="" width="100%" height="100%" >
										</div>
										<div><span th:id="'aUser'+${index}" class="size14 weight500" th:text="${applicant.userName}+' / '+${applicant.updateDate}" th:data-mobile="${applicant.mobileNo}" th:data-major="${applicant.majorName}">USERNAME</span></div>
									</div>
									<div class="userWaitingForAcceptanceController">
										<div>
											<button class="refuseUserJoin" style="margin-right:4px" type="button" th:onclick="userRefuse([[${index}]])"><span class="size14">거절</span></button>
											<button class="acceptUserJoin" type="button" th:onclick="userAccept([[${index}]])"><span class="size14">수락</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="userAcceptedList" style="margin-top:50px;">
							<div><span class="size14">수락된 신청자</span></div>
							<div>
								<div th:each="participant,index : ${participantList}" class="userAccepted d-flex justify-content-between align-items-center" style="margin:16px 0px;">
									<div class="userAcceptedInfo d-flex align-items-center">
										<div class="userAcceptedProfile" style="width:44px; height:44px; margin-right:10px;" th:data-userName="${participant.userName}" th:data-mobile="${participant.mobileNo}" th:data-major="${participant.majorName}" th:data-updateDate="${participant.updateDate}" onclick="getUserInfoAlert(this);">
											<img th:src="@{${participant.profileImageCode}}" alt="" width="100%" height="100%" >
	
										</div>
										<div><span th:id="'pUser'+${index}" class="size14 weight500" th:data-id="${participant.userId}" th:text="${participant.userName}+' / '+${participant.updateDate}" th:data-mobile="${participant.mobileNo}" th:data-major="${participant.majorName}">USERNAME</span></div>
									</div>
									<div class="userAcceptedController">
										<div>
											<button class="refuseUserAccepted" type="button" th:onclick="withCancel([[${index}]])"><span class="size14">함께하기 거절</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="userAcceptedList" style="margin-top:50px;">
							<div><span class="size14">거절된 사람 ㅠㅠ</span></div>
							<div>
								<div th:each="refuse,index : ${refuseList}" class="userAccepted d-flex justify-content-between align-items-center" style="margin:16px 0px;">
									<div class="userAcceptedInfo d-flex align-items-center">
										<div class="userAcceptedProfile" style="width:44px; height:44px; margin-right:10px;" th:data-userName="${refuse.userName}" th:data-mobile="${refuse.mobileNo}" th:data-major="${refuse.majorName}" th:data-updateDate="${refuse.updateDate}" onclick="getUserInfoAlert(this);">
											<img th:src="@{${refuse.profileImageCode}}" alt="" width="100%" height="100%" >

										</div>
										<div><span th:id="'rUser'+${index}" class="size14 weight500" th:data-id="${refuse.userId}" th:text="${refuse.userName}+' / '+${refuse.updateDate}" th:data-mobile="${refuse.mobileNo}" th:data-major="${refuse.majorName}">USERNAME</span></div>
									</div>
									<!--<div class="userAcceptedController">
										<div>
											<button class="refuseUserAccepted" type="button" th:onclick="'withCancel('+${index}+')'"><span class="size14">함께하기 거절</span></button>
										</div>
									</div>-->
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
    
    </th:block>
</html>