<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <script src="../static/js/load_html.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <script>loadHTML("./layout/header.html")</script>
          </header>
        <find-password class="appContainer">
            <div class="container padding">
                <form class="findPasswordForm" id="needs-validation" novalidate="">
                    <div style="height:260px;">

                        <div class="form-group">
                            <input class="form-control" id="user_name" required type="text" placeholder="이름">
                            <div class="invalid-feedback"><span class="size12 weight400">규칙에 맞는 이름을 입력해주세요.</span></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="user_phone" required type="text" placeholder="휴대폰 번호 (숫자만)">
                            <div class="invalid-feedback"><span class="size12 weight400">규칙에 맞는 휴대폰 번호를 입력해주세요.</span></div>
                        </div>
                        <div class="form-group" style="width:70%">
                            <input class="form-control" id="user_email" required type="text" placeholder="아이디 (학교 이메일)">
                            <div class="invalid-feedback"><span class="size12 weight400">규칙에 맞는 이메일 주소를 입력하세요.</span></div>
                        </div>
                        <div class="text-info">가입한 이메일로 비밀번호 변경 링크를 보내드립니다.</div>
                    </div>
                    <div>
                        <button type="submit">이메일 발송</button>
                    </div>
                </form>
            </div>
        </find-password>
    </div>
    <div id="popup">
        <script>loadHTML("./popups/popup_changePassword.html")</script>
    </div>
    <script src="../static/js/default.js"></script>
    <script>
        (function() {
        "use strict";
        window.addEventListener("load", function() {
            var form = document.getElementById("needs-validation");
            form.addEventListener("submit", function(event) {
            if (form.checkValidity() == false) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add("was-validated");
            }
            
            // 서버 연동 처리
            }, false);
        }, false);
        }());
    </script>
</body>
</html>