<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">

    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">
		
	    <div id="app">
	        <ul>
	            <li>
	                <a href="./makeMingleEvent.html">밍글만들기</a>
	            </li>
	            <li>
	                <a href="./makeMingleEvent-searchPlace.html">밍글만들기-장소검색</a>
	        
	            </li>
	        </ul>
	        <ul>
	            <li>
	                <a href="./myPage.html">마이페이지</a>
	            </li>
	            <li>  
	                <a href="./myPage_changeNickname.html">마이페이지-닉네임바꾸기</a>
	            </li>
	            <li>
	                <a href="./myPage_changePassword.html">마이페이지-비밀번호 바꾸기</a>
	            </li>
	            <li>
	                <a href="./myPage_changePhone.html">마이페이지-번호 바꾸기</a>
	            </li>
	            <li>
	                <a href="./myPage_leaveComment.html">마이페이지-리뷰남기기</a>
	            </li>
	            <li>
	                <a href="./myPage_changeProfile.html">마이페이지-프로필 캐릭터 설정</a>
	            </li>
	        </ul>
	        <ul>
	            <li>
	                <a href="./myEventList.html">내 참여리스트</a>
	            </li>
	            <li>
	                <a href="./AllEventList.html">전체 밍글 리스트</a>
	            </li>
	        </ul>
	        <ul>
	            <li>
	                <a href="./signIn.html">로그인</a>
	            </li>
	            <li>
	                <a href="./signUp.html">회원가입</a>
	            </li>
	            <li>
	                <a href="./findPassword.html">비밀번호찾기</a>
	            </li>
	        </ul>
	        <ul>
	            <li>
	                <a href="./EventContentForHost.html">이벤트 상세 페이지(호스트)</a>
	            </li>
	            <li>
	                <a href="./EventContentForUser.html">이벤트 상세 페이지(일반유저)</a>
	            </li>
	        </ul>
	        <ul>
	            <li>
	                <a href="./error.html">에러페이지</a>
	            </li>
	        </ul>
	    </div>
	
	    <div class="dropdown show">
	        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown link
	        </a>
	      
	        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </div>

    </div>
</html>