<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		
		<style>
			header{
				display: flex;
				justify-content: space-around;
				align-items: flex-end;
				height:12%;
			}
		</style>
		
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		
		<script>
		  const floatUpMenuElem = document.getElementById("floatUpMenu");
		  const appElem = document.getElementById("app");
		  const headerElem = document.getElementsByTagName("header")[0];
		  function openMenu(){
		    floatUpMenuElem.classList.replace("inactive","menuActive");
		    floatUpMenuElem.classList.replace("menuInactive","menuActive");
		    appElem.classList.add("menuActiveBackground");
		    headerElem.classList.add("menuActiveBackground");
		  }
		  function closeMenu(){
		    floatUpMenuElem.classList.replace("menuActive","menuInactive",);
		    appElem.classList.remove("menuActiveBackground");
		    headerElem.classList.remove("menuActiveBackground");
		  }
		  function applyOption(){
		    closeMenu();
		  }
		</script>
		
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">
    
		<div id="app"> 
			<header>
			  <div class="iconContainer" id="goBackIcon" style="width:10% " onclick="window.history.back();">
				  <img th:src="@{/static/image/back.png}" style="width:20px; height:20px;">
			  </div>
			  <div id="searchInput" style="width:70%">
				<input type="text" placeholder="장소를 검색해주세요" style="background-color: transparent !important;">
			  </div>
			  <div class="iconContainer" id="searchIcon" style="width:10%">
				<img src="../static/image/search.png" alt="" style="width:30px; height:30px;">
			  </div>
			</header>
			<div class="appContainer" style="height:88%">
			  <div class="container responsiveApp padding" id="placeSearchResultContainer" style="margin-top:20px;height:90%">
			  
				<div class="placeSearchResult">
				  <span class="size12 weight500 grey2">카테고리</span>
				  <div id="placeList">
					<div class="place">
					  <span class="size16 weight700">검색장소1</span>
					  <span class="size12 grey weight400" style="float:right">검색장소특징</span>
					</div>
					<div class="place">
					  <span class="size16 weight700">검색장소1</span>
					  <span class="size12 grey weight400" style="float:right">검색장소특징</span>
					</div>
					<div class="place">
					  <span class="size16 weight700">검색장소1</span>
					  <span class="size12 grey weight400" style="float:right">검색장소특징</span>
					</div>
				  </div>
				</div>
				
			  </div>
			</div>
		</div>
	</div>
	
</html>