<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
		
		<script>
			/* Time */
			var date = new Date();
			document.getElementById('startTime').value = date.toString().slice(16,21);
			
			var ONE_HOUR = 60 * 60 * 1000;
			var dateOneHourAgo = new Date(date.getTime() + ONE_HOUR);
			
			document.getElementById('endTime').value = dateOneHourAgo.toString().slice(16,21);
			
			
			function moveSearchPlace() {
				document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_title'].value = document.getElementById('title').value;
				
				var mingleCategory = document.getElementById('mingleCategory');
				var mingleCategoryClassHtml = mingleCategory.getElementsByClassName('selected');
				for(var i=0; i<mingleCategoryClassHtml; i++){
					document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_category'].value = mingleCategoryClassHtml[i].id;
				}
				
				var mingleDay = document.getElementById('mingleDay');
				var mingleDayHtml = mingleDay.getElementsByClassName('selected');
				for(var i=0; i<mingleCategoryClassHtml; i++){
					document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_day'].value = mingleCategoryClassHtml[i].id;
				}
				
				document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_startTime'].value = document.getElementById('startTime').value;
				document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_endTime'].value = document.getElementById('endTime').value;
				
				document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_minPerson'].value = document.getElementById('minPerson').innerText;
				document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_maxPerson'].value = document.getElementById('maxPerson').innerText;
				
				document.forms['moveSearchPlaceForm']['moveSearchPlaceForm_detail'].value = document.getElementById('detail').value;
				
				document.getElementById('moveSearchPlaceForm').submit();
			}
			
		</script> 
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">
		<div id="app">
			<div class="appContainer" style="overflow-y:auto;">
			<div class="responsiveApp">
				<div class="container padding">
					<div class="mingleContainer">
						<input id="title" name="title" class="green" type="text" placeholder="제목을 입력해주세요">
						<div id="mingleCategory">
							<div id="mingleCategory-std" class="category">
								스터디
							</div>
							<div id="mingleCategory-exe" class="category">
								운동
							</div>
							<div id="mingleCategory-chal" class="category">
								챌린지
							</div>
							<div id="mingleCategory-show" class="category">
								공연/전시
							</div>
							<div id="mingleCategory-hobby" class="category">
								취미
							</div>
						</div>
					</div>
					<div class="mingleContainer" id="mingleDate">
						<div>
							<span class="size12 weight700 grey2">날짜 <span th:text="${toDay}" /> </span >
						</div>
						<div id="mingleDay" class="d-flex justify-content-around" style="margin:10px 0px;">
							<div class="mingleDate selected">
								<span class="size14 weight500" style="white-space: nowrap;">오늘</span>
							</div>
							<div class="mingleDate notSelected">
								<span class="mingleCreateDay" id="day+1"></span>
								<span class="mingleCreateDate" id="date+1"></span>
							</div>
							<div class="mingleDate notSelected">
								<span class="mingleCreateDay" id="day+2"></span>
								<span class="mingleCreateDate" id="date+2"></span>
							</div>
							<div class="mingleDate notSelected">
								<span class="mingleCreateDay" id="day+3"></span>
								<span class="mingleCreateDate" id="date+3"></span>
							</div>
							<div class="mingleDate notSelected">
								<span class="mingleCreateDay" id="day+4"></span>
								<span class="mingleCreateDate" id="date+4"></span>
							</div>
							<div class="mingleDate notSelected">
								<span class="mingleCreateDay" id="day+5"></span>
								<span class="mingleCreateDate" id="date+5"></span>
							</div>
							<div class="mingleDate notSelected">
								<span class="mingleCreateDay" id="day+6"></span>
								<span class="mingleCreateDate" id="date+6"></span>
							</div>
						</div>
					</div>
					<div class="mingleContainer d-flex align-items-center justify-content-around" id="mingleTime">
						<input class="green" type="time" id="startTime" style="color: #2a2c2d; font-size: 15px; text-align: center;"> &nbsp;~&nbsp;
						<input class="green" type="time" id="endTime" style="color: #2a2c2d; font-size: 15px; text-align: center;">
					</div>
					<div class="mingleContainer" id="mingleLocation">
						<div>
							<span class="text-info text-bold" style="margin-right:10px">장소</span>
							<span class="text-info"> 미리 설정하는 것을 권장해요. </span>
						</div>
						<div class="d-flex justify-content-center">
							<div class="locationSelected" style="margin:10px 0px">
								!! 위치가 들어갈곳 !!
							</div>
						</div>
						<div class="d-flex justify-content-around">
							<div class="locationOption d-flex flex-column justify-content-center align-items-center" OnClick="javascript:moveSearchPlace()">
								<img th:src="@{/static/image/search_big.png}" alt="" width="18px" height="18px">
								<div>
									<span class="text-info2">장소 이름 검색</span>
								</div>
							</div>
							<form id="moveSearchPlaceForm" method="post" th:action="@{/makeMingleEvent_searchPlace}">
								<input id="moveSearchPlaceForm_title" name="moveSearchPlaceForm_title" type="hidden">
								<input id="moveSearchPlaceForm_category" name="moveSearchPlaceForm_category" type="hidden">
								<input id="moveSearchPlaceForm_day" name="moveSearchPlaceForm_day" type="hidden">
								<input id="moveSearchPlaceForm_startTime" name="moveSearchPlaceForm_startTime" type="hidden">
								<input id="moveSearchPlaceForm_endTime" name="moveSearchPlaceForm_endTime" type="hidden">
								<input id="moveSearchPlaceForm_minPerson" name="moveSearchPlaceForm_minPerson" type="hidden">
								<input id="moveSearchPlaceForm_maxPerson" name="moveSearchPlaceForm_maxPerson" type="hidden">
								<input id="moveSearchPlaceForm_detail" name="moveSearchPlaceForm_detail" type="hidden">
							</form>
							<div class="locationOption d-flex flex-column justify-content-center align-items-center">
								<img th:src="@{/static/image/search_big.png}" alt="" width="18px" height="18px">
								<div>
									<span class="text-info2">지도에서 핀 선택</span>
								</div>
							</div>
							<div class="locationOption d-flex align-items-center justify-content-center" id="locationOption-later">
								<span class="text-info2">나중에<br>정할래요</span>
							</div>
						</div>
					</div>
					<div class="mingleContainer" id="minglePerson">
						<div>
							<span class="text-info text-bold">인원</span>
						</div>
						<div class="d-flex justify-content-end">
							<div class="minglePersonNumberOption">
								<div class="minglePersonNumberOptionText min">
									<span class="text-info2">최소</span>
								</div>
								<div class="minglePersonNumberOptionController">
									<div class="minglePersonNumberOptionDec min">
										-
									</div>
									<div id="minPerson" class="minglePersonNumber min">
										3
									</div>
									<div class="minglePersonNumberOptionInc min">
										+
									</div>
								</div>
							</div>
							<div class="minglePersonNumberOption">
								<div class="minglePersonNumberOptionText max">
									<span class="text-info2">최대</span>
								</div>
								<div class="minglePersonNumberOptionController">
									<div class="minglePersonNumberOptionDec max">
										-
									</div>
									<div id="maxPerson" class="minglePersonNumber max">
										8
									</div>
									<div class="minglePersonNumberOptionInc max">
										+
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mingleContainer">
						<textarea id="detail" class="placeholderCenter green" placeholder="진행할 밍글 이벤트에 대해 소개해주세요 &#13;&#10;부적절한 내용은 제한될 수 있어요" style="height:200px"></textarea>
					</div>

					<div class="d-flex justify-content-end">
						<div class="locationOption d-flex align-items-center justify-content-center">
							<span class="text-info2">만들기</span>
						</div>
					</div>				
					
				</div>
			</div>
        </div>
		</div>
    </div>
</html>