<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
		<script th:src="@{/static/js/validation.js}"></script>
		
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">

		<div id="app">
			<header>
			<script>loadHTML("./layout/header.html","./myPage.html")</script>
			</header>
			<changephone class="appContainer">
			<div class="container padding responsiveApp">
				<form style="margin-top:60px;">
					<div style="height:200px;">
						<div class="form_title" style="margin-left:6px;">
							<span class="form_title_text text-title">휴대폰 번호</span>
						</div>
						<div>
							<input id="phone_input" onkeyup="checkPhone(this)" name="INPUT_PHONE" required type="number" placeholder="숫자만 입력해주세요." style="margin-bottom:0px;">
							<span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">규칙에 맞는 휴대폰 번호를 입력해주세요.</span>
						</div>
					</div>
					<div class="buttonBox2">
						<button type="button" onclick="location.href='./myPage.html'">
						<span class="grey2">취소</span>
						</button>
						<button class="btnSubmit" id="btnChangePhone">변경</button>
					</div>
				</form>
			</div>
			</changephone>
		</div>
	
    </th:block>
</html>