<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
		
	    <script>
	        var snackbar = document.getElementById("alertLinkCopied")
	
	        $(document).ready(function(){
	            var clipboard = new Clipboard('.shareLinkBtn');
	            snackbar.innerHTML="클립보드에 복사되었습니다.";
	            clipboard.on('success',function(e){
	                console.log("copy success");
	                snackbar.classList.replace("alertInactive","alertActive");
	                setTimeout(function(){
	                snackbar.classList.replace("alertActive","alertInactive");
	                },3500)
	            })
	        })
	    </script>		
		
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">

		<div id="app">
			<header>
				<nav class="container align-items-end" style="padding:10px;">
					<div style="width:30px;margin-left:10px;">
						<img th:src="@{/static/image/back.png}" alt="" style="width:18px; height:18px;">
					</div>
					<div><span id="header_title" class="size20">마이페이지</span></div>
				</nav>
			</header>
			<div class="appContainer overflow mypage">
			<div class="container padding responsiveApp">
				<div class="d-flex" id="my_profile">
					<div class="d-flex align-items-center justify-content-center" id="my_icon">
						<img th:src="@{${userInfo.profileImageCode}}" width="100%" height="100%" alt="" id="var-profile">
					</div>
					<div class="d-flex justify-content-center flex-column" id="my_profile_info" style="margin-left=10px;">
						<div>
							<span id="nickname" class="size20" th:text="${userInfo.nickname}"></span>
							<span class="size12 weight400" id="var-gender" th:text="${userInfo.genderName}"></span>
						</div>
						<div style="margin-top:5px;">
							<div>
								<span class="size12 weight800" th:text="${userInfo.collegeName}"></span>
							</div>
							<div>
								<span class="size12 weight800" id="var-studentClass" th:text="${userInfo.uniYear}"></span>
								<span class="size12 weight800">학번</span>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-column" id="my_info">
					<div class="text_myInfo">
						<span class="size12 weight500" id="var-name" th:text="${userInfo.userName}"></span>
					</div>
					<div class="text_myInfo">
						<span class="size12 weight500" id="var-email" th:text="${userInfo.userId}+'@khu.ac.kr'"></span>
					</div>
					<div class="text_myInfo">
						<span class="size12 weight500" th:text="${userInfo.uniName}"></span>
					</div>
					<div class="text_myInfo">
						<span class="size12 weight500" id="var-college" th:text="${userInfo.collegeName}"></span>
					</div>
					<div class="text_myInfo">
						<span class="size12 weight500" id="var-major" th:text="${userInfo.majorName}"></span>
					</div>
					<div class="text_myInfo">
						<span class="size12 weight500" id="var-studentID" th:text="${userInfo.uniNumber}"></span>
					</div>
				</div>
				<div id="myPage_menu">
					<div class="d-flex align-items-center menu_bar">
						<a href="/myPage/leaveCommentForm">의견 남기기
						<div class="clickable">
						</div>
						</a>
					</div>
					<div class="d-flex align-items-center menu_bar">
						<a href="/myPage/reportCommentForm">신고하기
							<div class="clickable">
							</div>
						</a>
					</div>
					<div class="d-flex align-items-center menu_bar" style="border-bottom: solid 0.5px #efe5e0;">
						<a href="/logout">로그아웃
						<div class="clickable">
						</div>
						</a>
					</div>
				</div>
				<div style="margin-top:10px;">
					<button data-clipboard-text="https://wjdwl002.github.io/withyouwithme/" class="shareLinkBtn validated">유니미니 공유하기</button>
				</div>
			</div>
			</div>
			<div id="alertLinkCopied" class="alertInactive">
				<span>링크가 복사되었습니다!</span>
			</div>
		</div>
	
    </th:block>
</html>