<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">

		<div id="app">
			<header>
				<script>loadHTML("./layout/header.html","./myPage.html")</script>
			</header>
			<leavecomment class="appContainer">
			<div class="container padding responsiveApp">
				<div class="d-flex flex-column">
					<div style="margin:60px 0px 60px 0px">
						<span class="size14 weight600">프로필 캐릭터를 선택해주세요</span>
					</div>
					<div class="characters d-flex justify-content-between flex-wrap align-content-start" style="height:500px;">
						<div class="character" id="selected">
							<img src="../static/image/profile/profile1.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile2.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile3.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile4.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile5.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile6.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile7.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile8.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile9.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile10.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile11.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile12.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile13.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile14.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile15.png" alt="" width="100%" height="100%">
						</div>
						<div class="character">
							<img src="../static/image/profile/profile16.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div class="buttonBox2">
						<button type="button" onclick="location.href='./myPage.html'">
						<span class="grey2">취소</span>
						</button>
						<button class="btnSubmit" id="btnChangeProfile">설정</button>
					</div>
				</div>
			</div>
			</leavecomment>
		</div>
	
    </th:block>
</html>