<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
    </th:block>

    <!-- Content -->
    <div layout:fragment="content">

	  <div id="app">
		<header>
		  <script>loadHTML("./layout/header.html")</script>
		</header>
		<leaveComment class="appContainer">
		  <div class="container padding">
			<div class="d-flex">
			  <form style="width:100%; margin-top:10px;">
				<div style="height:200px;">
				  <textarea placeholder="유니미니를 사용하고 난 경험에 대해서 &#13;&#10;자유롭게 의견을 남겨주세요."></textarea>
				</div>
				<div class="buttonBox2">
				  <button>   
					<a href="./myPage.html"><span class="grey2">취소</span></a>
					</button>
					<button id="btnLeaveComment">저장</button>
				</div>
			</form>
		  </div>
		  </div>
		</leaveComment>
	  </div>
	
    </div>
</html>