<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    </th:block>
    
    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
		<script th:src="@{/static/js/validation.js}"></script>
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">

		<div id="app">
			<header>
			  <script>loadHTML("./layout/header.html")</script>
			</header>
		<changeNickname class="appContainer">
			<div class="container padding">
				<form style="margin-top:60px;">
				  <div style="height:200px;">
					<div class="form_title" id="nickname_form_title" style="margin-left:6px;">
					  <span class="form_title_text text-title">닉네임</span>
					</div>
					<div class="form" id="nickname_form">
					  <input id="nickname_input"
					  required
					  type="text" placeholder="미니미니">
					</div>
					<div class="form_instruction" id="nickname_form_instruction" style="margin-left:8px">
						<span class="text-info">닉네임을 설정하면 24시간 동안 변경할 수 없습니다.</span>
					</div>
				  </div>
				  <div class="buttonBox2">
					<button>   
					  <a href="./myPage.html"><span class="grey2">취소</span></a>
					  </button>
					  <button id="btnChangeNickname">변경</button>
				  </div>
			  </form>
			</div>
		</changeNickname>
		</div>	

    </th:block>
</html>