<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의견 남기기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <script src="../static/js/load_html.js"></script>
</head>
<body>
  <div id="app">
    <header>
      <script>loadHTML("./layout/header.html")</script>
    </header>
    <leaveComment class="appContainer">
      <div class="container padding">
        <div class="d-flex">
          <form style="width:100%; margin-top:10px;">
            <div style="height:200px;">
              <textarea placeholder="유니미니를 사용하고 난 경험에 대해서 &#13;&#10;자유롭게 의견을 남겨주세요."></textarea>
            </div>
            <div class="buttonBox2">
              <button>   
                <a href="./myPage.html"><span class="grey2">취소</span></a>
                </button>
                <button id="btnLeaveComment">저장</button>
            </div>
        </form>
      </div>
      </div>
    </leaveComment>
  </div>
  <script src="../static/js/default.js"></script>
</body>
</html>