<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

<!-- For use on this page only [CSS] -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/static/css/reset.css}">
    <link rel="stylesheet" th:href="@{/static/css/default.css}">
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
    <link rel="stylesheet" th:href="@{/static/css/popup.css}">
</th:block>

<!-- For use on this page only [JS] -->
<th:block layout:fragment="script">
    <script th:src="@{/static/js/load_html.js}"></script>
    <script th:src="@{/static/js/default.js}"></script>
    <script th:src="@{/static/js/validation.js}"></script>

</th:block>

<!-- Content -->
<div layout:fragment="content">

    <div id="app">
        <div class="backdrop"></div>
        <header>

        </header>
        <div class="signup_stage" style="margin-top:2%">
            <div class="stage now"></div>
            <div class="stage"></div>
            <div class="stage"></div>
        </div>
        <!--첫번째 회원가입 페이지-->
        <signup_1 class="appContainer signup" id="signupFirstStage">
            <div class="container padding responsiveApp" style="height:58%">
                <div class="form column">
                    <form>
                        <div class="formTitle">아이디</div>
                        <div class="formContent">
                            <div><input name="userId" type="text" placeholder="학교 이메일 입력" onchange="checkEmail()">
                            </div>
                            <div><span class="size15 weight400">@khu.ac.kr</span></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container padding responsiveApp" style="height:30%">
                <div class="contraction">
                    <hr>
                    <div class="form-check d-flex align-items-center justify-content-between">
                        <input onclick="checkAllTerms(this)" class="form-check-input" type="checkbox" value=""
                               id="checkAllTerms" required>
                        <label class="form-check-label" for="checkAllTerms">
                            <span class="size14 weight600" style="margin-left: 50px; margin-top:2px;">전체 약관 동의</span>
                        </label>
                        <a onclick="extendTermForm()">
                            <div>
                                <img id="validationExtend" th:src="@{/static/image/expandMore.png}" alt="" width="24px;">
                            </div>
                        </a>
                    </div>
                    <hr>
                    <div class="inactive" id="termForm">
                        <div class="term form-check d-flex align-items-center justify-content-between">
                            <input class="form-check-input" type="checkbox" value="" id="checkServiceTerm" required>
                            <label class="form-check-label" for="checkServiceTerm">
                                <span class="size14 weight400" style="margin-left: 50px; margin-top:2px;">(필수) 서비스 이용약관 동의</span>
                            </label>
                            <div>
                                <span onclick="openTerm(this)" class="size13 underline weight400">보기</span>
                            </div>
                        </div>
                        <div class="term form-check d-flex align-items-center justify-content-between">
                            <input class="form-check-input" type="checkbox" value="" id="CheckPersonalInfo" required>
                            <label class="form-check-label" for="CheckPersonalInfo">
                                <span class="size14 weight400"
                                      style="margin-left: 50px; margin-top:2px;">(필수) 개인정보 동의</span>
                            </label>
                            <div>
                                <span onclick="openTerm(this)" class="size13 underline weight400">보기</span>
                            </div>
                        </div>
                        <div class="term form-check d-flex align-items-center justify-content-between">
                            <input class="form-check-input" type="checkbox" value="" id="CheckMarketingPush" required>
                            <label class="form-check-label" for="CheckMarketingPush">
                                <span class="size14 weight400"
                                      style="margin-left: 50px; margin-top:2px;">(선택) 이벤트 소식 알림</span>
                            </label>
                            <div>
                                <span onclick="openTerm(this)" class="size13 underline weight400">보기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padding next responsiveApp">
                <button onclick="toSecondStage()">다음</button>
            </div>
        </signup_1>
        <signup_2 class="appContainer signup inactive" id="signupSecondStage">
            <div class="container padding responsiveApp">
                <div class="form column">
                    <form>
                        <div class="formTitle">
                            <span>비밀번호</span>
                            <span class="size12 grey3 weight500" style="float:right; margin-right:10px;">영문, 숫자, 특수문자가 조합된 8-15자</span>
                        </div>
                        <div>
                            <input onkeyup="checkPassword(this)"
                                   required id="password"
                                   type="password" name="password" placeholder="새 비밀번호" style="margin-bottom: 0px;">
                            <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">규칙에 맞는 비밀번호를 입력해주세요.</span>
                        </div>
                        <div class="validation-feedback"></div>
                    </form>
                </div>
                <div>
                    <div class="formTitle">비밀번호 확인</div>
                    <div>
                        <input onkeyup="doubleCheckPassword(this)"
                               required
                               type="password" name="confirmPassword" placeholder="새 비밀번호 확인" style="margin-top:10px; margin-bottom: 0px;">
                        <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">비밀번호가 일치하지않습니다.</span>
                    </div>
                </div>
                <div style="margin-top:80px">
                    <div class="d-flex align-items-center" style="margin:15px 0px;">
                        <div class="formTitle" style="width:100px; margin:0px;">이름</div>
                        <div style="width:100%;">
                            <input name="userName" onkeyup="checkEmpty(this)" type="text" placeholder="이름 입력"
                                   style="margin:0px;">
                            <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">1자 이상 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center" id="phone" style="margin:15px 0px;">
                        <div class="formTitle" style="width:100px; margin:0px;">휴대폰 번호</div>
                        <div style="width:100%;">
                            <input name="moblieNo" onkeyup="checkPhone(this)" type="text" placeholder="휴대폰 번호 입력"
                                   style="margin:0px;">
                            <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">전화번호를 알맞게 입력해주세요.</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container padding next responsiveApp">
                <button class="btnSubmit" onclick="toThirdStage()">다음</button>
            </div>
        </signup_2>
        <signup_3 class="appContainer signup inactive" id="signupThirdStage">
            <div class="container padding responsiveApp">
                <div class="form flexRow">
                    <div class="formTitle" style="width:80px">닉네임</div>
                    <div class="formContent">
                        <input name="nickname" onkeyup="checkNickname()" type="text" placeholder="닉네임 입력">
                    </div>
                </div>
                <div class="form flexRow">
                    <div class="formTitle" style="width:80px">성별</div>
                    <div class="formContent">
                        <div style="width:50%; display: flex;">
                            <input class="form-check-input" type="radio" name="genderCode" id="male"
                                   value="GEN001">
                            <label class="form-check-label text-title" for="male"
                                   style="margin-top:5px; white-space: nowrap;"><span>남자</span></label>
                        </div>
                        <div style="width:50%; display:flex">
                            <input class="form-check-input" type="radio" name="genderCode" id="female"
                                   value="GEN002">
                            <label class="form-check-label text-title" for="female"
                                   style="margin-top:5px; white-space: nowrap;"><span>여자</span></label>
                        </div>
                    </div>
                </div>
                <div class="form flexRow">
                    <div class="formTitle" style="width:80px">학번</div>
                    <div class="formContent">
                        <input name="uniNum" type="text"
                               placeholder="학번 입력 (숫자 10자리)">
                    </div>
                </div>
                <div class="form column">
                    <div class="formTitle">학과</div>
                    <div class="formContent">
                        <input name="uniCode" type="hidden"/>
                        <input name="campusCode" type="hidden"/>
                        <input name="collegeCode" type="hidden"/>
                        <input name="majorCode" type="text" id="major" placeholder="학과를 선택해주세요">
                    </div>
                </div>
            </div>
            <div class="container padding done">
                <button>회원가입 완료</button>
            </div>
        </signup_3>

        <div id="popup" class="inactive">
            <div class="box" id="term">
                <div class="boxMenu d-flex justify-content-between align-items-center">
                    <span class="size14 weight400" id="termName"></span>
                    <span onclick="closeTerm()">
		                <img th:src="@{/static/image/close2.png}" alt="">
		            </span>
                </div>
                <div class="boxContent wide">

                </div>
            </div>
        </div>
    </div>


</div>
</html>