<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

    <!-- For use on this page only [CSS] -->
    <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/static/css/reset.css}">
		<link rel="stylesheet" th:href="@{/static/css/default.css}">
		<link rel="stylesheet" th:href="@{/static/css/styles.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    </th:block>

    <!-- For use on this page only [JS] -->
    <th:block layout:fragment="script">
		<script th:src="@{/static/js/load_html.js}"></script>
		<script th:src="@{/static/js/default.js}"></script>
		<script th:src="@{/static/js/validation.js}"></script>
		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<script>
			$(function(){
				validationLogin();
				$('#toLogin').click(function () {
					signIn();
				});
			}());

			function signIn() {

				$('input[name=username]').val($('#email-login').val());

				$.ajax({
					url: '/signIn/signIn',
					type: "POST",
					data: $('#needs-validation').serialize(),
					dataType : 'json',
					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					cache :  false,
					beforeSend : function(xhr)
					{
					},
					success: function(__data, __textStatus, __jqXHR){
						if (__data.code != null ) {
							alert(__data.message);
							return;
						}
						var userId = __data.userId;

						window.Unity.call('login:'+userId);

					},
					fail: function(__data, __textStatus, __jqXHR){
						console.log("data", __data);
					},
					error: function(request, status, error){
						if (request.status == '401') {
							$('#errorText').text("아이디와 비밀번호가 일치하지 않습니다.");
						} else if (request.status == '403') {
							$('#errorText').text("계정이 존재하지 않습니다.");
						}
						$('#errorText').css('display', 'block');
					},
					complete: function(__data, __textStatus, __jqXHR) {
					}
				});
			}
		</script>
    </th:block>

    <!-- Content -->
    <th:block layout:fragment="content">
		<form id="userForm">
			<input type="hidden" name="userId"/>
		</form>
	    <div id="app">
			<header style="background-color: #fffaf2">
				<nav class="container align-items-end" style="padding:10px;">
					<div style="width:30px;margin-left:10px;">
						<img th:src="@{/static/image/back.png}" alt="" style="width:18px; height:18px;" onclick="window.close();">
					</div>
				</nav>
			</header>
	        <div class="appContainer" style="height:100%">
	            <div class="container padding responsiveApp"  style="height:100%">
	                <div class="d-flex flex-column justify-content-end align-items-center" style="height:30%;">
	                    <img th:src="@{/static/image/logo.png}" style="height:24px; width:169px">
	                    <div style="margin-top:5px;">
	                        <span class="size12 weight500 highlighted">함께하는 즐거움, UNIMINI</span>
	                    </div>
	                </div>
	                <form class="loginForm d-flex flex-column justify-content-between" id="needs-validation" novalidate=""  style="height:41%; padding: 0px 30px">
	                    <div class="d-flex flex-column justify-content-end align-items-center" style="margin-top:40px;">
	                        <div class="d-flex align-items-center" style="width:100%;">
	                            <input name="userId" type="email" placeholder="이메일" id="email-login" style="width:100%;margin:7px 0px;">
								<span></span>
	                            <span class="weight600" id="uniDomain" style="margin:8px;">@khu.ac.kr</span>
								<input type="hidden" name="username" />
	                        </div>
							<div style="width:100%">
								<input required type="password" name="password" id="password-login" placeholder="비밀번호" style="width:100%; margin:7px 0px">
								<span class="validation-feedback size12 pink weight400" id="errorText" style="margin-left:8px; display: none;">아이디와 비밀번호가 일치하지 않습니다.</span>
							</div>
	                    </div>
	                    <div class="d-flex justify-content-center">
	                        <button type="button" id="toLogin">로그인</button>
	                    </div>
	                </form>
	                <div style="height:29%;">
	                    <div class="d-flex justify-content-center align-items-center" style="height:auto; margin-top:20%;">
	                        <div><span class="weight600 size12">아직 계정이 없으신가요?</span></div>
	                        <div class="d-flex align-items-center">
	                            <a th:href="@{/signUp/signUpForm}" style="margin-left:10px"><span class="weight600 size12">회원가입하기</span></a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

    </th:block>

</html>