<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">

<!-- For use on this page only [CSS] -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/static/css/reset.css}">
    <link rel="stylesheet" th:href="@{/static/css/default.css}">
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
    <link rel="stylesheet" th:href="@{/static/css/popup.css}">
</th:block>

<!-- For use on this page only [JS] -->
<th:block layout:fragment="script">
    <script th:src="@{/static/js/load_html.js}"></script>
    <script th:src="@{/static/js/default.js}"></script>
    <script th:src="@{/static/js/validation.js}"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script>
        $(function(){
            $('#toFinishSignUp').click(function () {
                if ($('#password').val() != $('#passwordConfirm').val()) {
                    alert('비빌번호를 확인해주세요');
                    return;
                }
                signUp();
            });
        }());
        
        function signUp() {
            var data = {
                "userId" : $('input[name=userId]').val()
                , "userName" : $('input[name=userName]').val()
                , "nickname" : $('input[name=nickname]').val()
                , "password" : $('input[name=password]').val()
                , "uniNumber" : $('input[name=uniNumber]').val()
                , "mobileNo" : $('input[name=mobileNo]').val()
            }

            $.ajax({
                url: '/signUp/signUp',
                type: "POST",
                data: JSON.stringify(data),
                dataType : 'json',
                contentType: "application/json",
                cache :  false,
                beforeSend : function(xhr)
                {
                },
                success: function(__data, __textStatus, __jqXHR){
                    if (__data.result == "success" ) {
                        alert("회원가입이 완료되었습니다.");
                        window.location.href = "/signIn/signInForm";
                    }
                },
                fail: function(__data, __textStatus, __jqXHR){
                    console.log("data", __data);
                },
                error: function(__data, __textStatus, __jqXHR){

                },
                complete: function(__data, __textStatus, __jqXHR) {
                }
            });
        }

        function maxLengthCheck(object){
            if (object.value.length > object.maxLength){
                object.value = object.value.slice(0, object.maxLength);
            }
        }
    </script>
</th:block>

<!-- Content -->
<th:block layout:fragment="content">

    <div id="app">
        <header>
            <nav class="container align-items-end" style="padding:10px;">
                <div style="width:30px;margin-left:10px;" onclick="window.history.back();">
                    <img th:src="@{/static/image/back.png}" alt="" style="width:18px; height:18px;">
                </div>
                <div><span id="header_title" class="size20">회원가입</span></div>
            </nav>
        </header>
        
        <div class="appContainer signup overflow" id="signupFirstStage" style="height:75%">
            <div class="container padding responsiveApp">
              <div class="signup_stage" style="margin-top:2%">
                <div class="stage now"></div>
              </div>
                <form id="signUpForm">
                    <div class="form column">
                        <div class="formTitle">아이디</div>
                        <div class="formContent">
                            <div style="width:75%"><input name="userId" id ="emailSignUp" type="text" placeholder="학교 이메일 입력">
                            </div>
                            <div><span class="size15 weight400">@khu.ac.kr</span></div>
                        </div>
                    </div>
                    <div class="form column">
                        <div class="formTitle">
                            <span>비밀번호</span>
                        </div>
                        <div>
                            <input required id="password" name="password" type="password"
                                   placeholder="새 비밀번호" style="margin-bottom: 0px;">
                            <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">규칙에 맞는 비밀번호를 입력해주세요.</span>
                        </div>
                        <div class="validation-feedback"></div>
                    </div>
                    <div>
                        <div class="formTitle">비밀번호 확인</div>
                        <div>
                            <input required id="passwordConfirm" name="passwordConfirm" type="password"
                                   placeholder="새 비밀번호 확인" style="margin-top:10px; margin-bottom: 0px;">
                            <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">비밀번호가 일치하지않습니다.</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-start" style="margin: 25px 0px;">
                        <div class="formTitle" style="width:80px; margin:12px 0px 0px 0px;">닉네임</div>
                        <div style="width:100%">
                            <input name="nickname" id="nickname" type="text" placeholder="닉네임 입력"
                                   style="margin:0px;">
                            <span id="nicknameError" class="validation-feedback size12 pink weight400 inactive"
                                  style="margin-left:8px;">한자리 이상의 닉네임을 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center" style="margin: 25px 0px;">
                        <div class="formTitle" style="width:80px; margin:5px 0px 0px 0px;">성별</div>
                        <div class="formContent">
                            <div style="width:50%; display: flex;">
                                <input class="form-check-input gender-signup" type="radio" name="genderCode"
                                       id="male" value="GEN001">
                                <label class="form-check-label text-title" for="male"
                                       style="margin-top:5px; white-space: nowrap;"><span>남자</span></label>
                            </div>
                            <div style="width:50%; display:flex">
                                <input class="form-check-input gender-signup" type="radio" name="genderCode"
                                       id="female" value="GEN002">
                                <label class="form-check-label text-title" for="female"
                                       style="margin-top:5px; white-space: nowrap;"><span>여자</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form column" style="margin: 25px 0px;">
                        <div class="formTitle">학과</div>
                        <div class="formContent">
                            <input id="major" type="text" name="major"
                                   placeholder="학과를 선택해주세요">
                        </div>
                        <div id="majorSearchResultContainer">
                            <div class="majorSearchResult">응용물리학</div>
                            <div class="majorSearchResult">컴퓨터공학과</div>
                            <div class="majorSearchResult">글로벌커뮤니케이션</div>
                            <div class="majorSearchResult">산업경영공학</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-start" style="margin: 25px 0px;">
                        <div class="formTitle" style="width:80px; margin:12px 0px 0px 0px;">학번</div>
                        <div id="studentId" style="width:100%">
                            <input name="uniNumber" id="uniNumber" type="number" placeholder="학번 입력 (숫자 10자리)"
                                   style="margin:0px;" maxlength="10" oninput="maxLengthCheck(this)">
                            <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">학번을 알맞게 입력해주세요.</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center" style="margin:15px 0px;">
                            <div class="formTitle" style="width:100px; margin:0px;">이름</div>
                            <div style="width:100%;">
                                <input name="userName" id="userName" type="text" placeholder="이름 입력"
                                       style="margin:0px;">
                                <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">1자 이상 입력해주세요.</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center" style="margin:15px 0px;">
                            <div class="formTitle" style="width:100px; margin:0px;">휴대폰 번호</div>
                            <div id="name" style="width:100%;">
                                <input name="mobileNo" id="mobileNo" type="text" placeholder="휴대폰 번호 입력"
                                       style="margin:0px;" maxlength="11" oninput="maxLengthCheck(this)">
                                <span class="validation-feedback size12 pink weight400 inactive" style="margin-left:8px;">전화번호를 알맞게 입력해주세요.</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
  
        <div class="container padding done" id="signupFinishBtnContainer">
          <button id="toFinishSignUp">회원가입 완료</button>
        </div>
        
    </div>

</th:block>

</div>
</html>