<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout_v1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- For use on this page only [CSS] -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/static/css/reset.css}">
    <link rel="stylesheet" th:href="@{/static/css/default.css}">
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
    <link rel="stylesheet" th:href="@{/static/css/popup.css}">
    <link rel="stylesheet" th:href="@{/static/css/jquery-ui-1.13.0/jquery-ui.min.css}">
</th:block>

<!-- For use on this page only [JS] -->
<th:block layout:fragment="script">
    <script th:src="@{/static/js/jquery-ui-1.13.0/jquery-ui.js}"></script>
    <script th:src="@{/static/js/load_html.js}"></script>
    <script th:src="@{/static/js/lib/handlebars.min.js}"></script>
    <script th:src="@{/static/js/default.js}"></script>
    <script>
        function searchDay(e) {
            var day = $(e).attr('data');
            $('#totalEvent input[name=day]').val(day)
            $('#totalEvent').submit();
        }
    </script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <form id="totalEvent" th:action="@{/mingle/totalMigleList}" method="post">
        <input type="hidden" name="day">
    </form>
    <div id="app">
        <div class="backdrop"></div>
        <header>
            <nav class="container align-items-end green" style="padding:10px;height:100%">
                <div style="width:30px;margin-left:10px;">
                    <a href="" id="backToPage">
                        <img th:src="@{/static/image/back_white.png}" alt="" style="width:26px; height:20px;" onclick="window.Unity.call('CloseWebView:');">
                    </a>
                </div>
                <div><span class="white" id="var-eventTitle">전체 리스트</span></div>
            </nav>
        </header>
        <div class="appContainer" style="height:88%">
            <div class="container" style="height:100%; padding:0px">
                <div class="calendar" style="height:80px">
                    <div class="d-flex justify-content-around" style="padding-top:16px">
                        <div class="calendarDate" th:each="cal, index : ${calMapList}" th:classappend="${cal.fullDay eq day ? 'selected' : ''}" th:data="${cal.fullDay}" onclick="searchDay(this)">
                            <span class="eventDay white size12" th:text="${cal.week}">월</span>
                            <span class="eventDate white size16" th:text="${cal.day}">16</span>
                        </div>
                    </div>
                </div>
                <div class="container padding eventList" style="height:inherit; margin-top:40px;height: 80%; overflow-y: auto;">
                    <div id="eventLinePosition">
                        <div id="eventLine"></div>
                        <div class="eventCircle last"></div>
                    </div>
                    <div class="event d-flex justify-content-between align-items-start" th:if="${hourList} ne null" th:each="hour,index : ${hourList}">
                        <div class="d-flex" style="height:inherit">
                            <span class="size14" th:text="${hour.eventStartTimeHour}">13:00</span>
                            <div class="d-flex flex-column align-items-center" style="margin-left:20px;">
                                <div class="eventCircle"></div>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-end" style="width:100%">
                            <div class="eventListContent d-flex" th:each="mingle,index : ${mingleList}">
                                <th:block th:if="${hour.eventStartTimeHour eq mingle.eventStartTimeHour}">
                                <div class="eventContentProfile d-flex justify-content-center align-items-center" >
                                    <img th:if="${mingle.categoryCode eq 'CAT000001'}" th:src="@{/static/image/category6.png}" alt="" width="45px" height="45px">
                                    <img th:if="${mingle.categoryCode eq 'CAT000002'}" th:src="@{/static/image/category3.png}" alt="" width="45px" height="45px">
                                    <img th:if="${mingle.categoryCode eq 'CAT000003'}" th:src="@{/static/image/category1.png}" alt="" width="45px" height="45px">
                                    <img th:if="${mingle.categoryCode eq 'CAT000004'}" th:src="@{/static/image/category2.png}" alt="" width="45px" height="45px">
                                    <img th:if="${mingle.categoryCode eq 'CAT000005'}" th:src="@{/static/image/category5.png}" alt="" width="45px" height="45px">
                                    <img th:if="${mingle.categoryCode eq 'CAT000006'}" th:src="@{/static/image/category4.png}" alt="" width="45px" height="45px">
                                </div>
                                <div class="eventContentInfo d-flex flex-column justify-content-center ">
                                    <div><span th:text="${mingle.eventName}">EVENT TITLE</span></div>
                                    <div>
                                        <span class="size12 weight500" id="EVENT_BEGIN_TIME" th:text="${mingle.eventStartTime}">13:00</span>
                                        <span class="size12 weight500">~</span>
                                        <span class="size12 weight500" id="EVENT_END_TIME" th:text="${mingle.eventEndTime}">14:00</span>
                                    </div>
                                    <div></div>
                                </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${mingleList} eq null">
                        <div style="background-color:#ff3a5b; padding : 10px 40px; border-radius: 20px;">
                            <span class="size16 white weight700">오늘은 생성된 밍글이 없습니다.</span>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</html>