<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimini.mapper.SignInMapper">

    <!-- 로그인 -->
    <select id="getSignIn" resultType="uniMap" parameterType="map">
        SELECT
            A.USER_CODE
            , A.USER_ID
        FROM TB_USER A
        WHERE A.USER_ID = #{userId}
          AND A.PASSWORD = #{password}
    </select>

</mapper>